<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h3 >الطلبات</h3>
            <button class="btn  mb-3" (click)="AddOrder()"><i class="iconsminds-add  text-primary" style="font-size: 38px;"></i></button>
        </div>

        <h5 class="card-title">بحث على حسب : </h5>
        <div class="row">
          <div class="col-md-3">
            <label> المدينة</label>
            <ng-select [(ngModel)]="filtering.CountryId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
            (ngModelChange)="allFilter()">
              <ng-option *ngFor="let citie of cities" [value]="citie.id">{{citie.name}}
              </ng-option>
            </ng-select>
          </div>
          <div class="col-md-3">
            <label>المنطقة</label>
            <ng-select [(ngModel)]="filtering.RegionId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
            (ngModelChange)="allFilter()">
              <ng-option *ngFor="let region of Region" [value]="region.id">{{region.name}}</ng-option>
            </ng-select>
  
          </div>
          <div class="col-md-3">
            <label> العميل</label>
            <ng-select [(ngModel)]="filtering.ClientId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
            (ngModelChange)="allFilter()">
              <ng-option *ngFor="let client of clients" [value]="client.id">{{client.name}}
              </ng-option>
            </ng-select>
           
  
          </div>
          <div class="col-md-3">
            <label> موقع المبلغ</label>
            <ng-select [(ngModel)]="filtering.MonePlacedId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
            (ngModelChange)="allFilter()">
              <ng-option *ngFor="let moenyPlaced of MoenyPlaced" [value]="moenyPlaced.id">{{moenyPlaced.name}}
              </ng-option>
            </ng-select>
  
          </div>
         
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>حالة الشحنة</label>
            <ng-select [(ngModel)]="filtering.OrderplacedId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
            (ngModelChange)="allFilter()">
              <ng-option *ngFor="let order of orderPlace" [value]="order.id">{{order.name}}
              </ng-option>
            </ng-select>
          </div>
          <div class="col-md-3">
            <label>كود</label>
            <input type="text" 
            class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtering.Code"
            (ngModelChange)="allFilter()">
          </div>
          <div class="col-md-3">
            <label>الهاتف</label>
            
            <input type="text" 
            class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtering.Phone"
            (ngModelChange)="allFilter()">
          </div>
          <div class="col-md-3">
            <label>اسم المستلم</label>
            <input type="text" 
            class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtering.RecipientName"
            (ngModelChange)="allFilter()">
  
          </div>
        </div>
        <br>
        <br>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%; overflow-x: scroll;height: 300px;"
(onPageSwitch)="switchPage($event)">

<ng-container matColumnDef="Code">
  <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-right: 10px;"> كود </th>
  <td mat-cell *matCellDef="let element" style="padding-right: 10px;"> {{element.Code}}</td>
</ng-container>
<ng-container matColumnDef="DeliveryCost">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> تكلفة التوصيل</th>
  <td mat-cell *matCellDef="let element"> {{element.DeliveryCost}}</td>
</ng-container>
<ng-container matColumnDef="Cost">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> الطلب</th>
  <td mat-cell *matCellDef="let element"> {{element.Cost}}</td>
</ng-container>
<ng-container matColumnDef="RecipientName">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> اسم المستلم</th>
  <td mat-cell *matCellDef="let element"> {{element.RecipientName}}</td>
</ng-container>


<ng-container matColumnDef="RecipientPhones">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> رقم المستلم</th>
  <td mat-cell *matCellDef="let element"> {{element.RecipientPhones}}</td>
</ng-container>
<ng-container matColumnDef="Address">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> العنوان</th>
  <td mat-cell *matCellDef="let element"> {{element.Address}}</td>
</ng-container>
<ng-container matColumnDef="CreatedBy">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> بواسطه</th>
  <td mat-cell *matCellDef="let element"> {{element.CreatedBy}}</td>
</ng-container>
<ng-container matColumnDef="Date">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> التاريخ</th>
  <td mat-cell *matCellDef="let element"> {{element.Date}}</td>
</ng-container>


<ng-container matColumnDef="DiliveryDate">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ التوصيل</th>
  <td mat-cell *matCellDef="let element"> {{element.DiliveryDate}}</td>
</ng-container>
<ng-container matColumnDef="Note">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> ملاحظات</th>
  <td mat-cell *matCellDef="let element"> {{element.Note}}</td>
</ng-container>
<ng-container matColumnDef="Client">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> اسم العميل</th>
  <td mat-cell *matCellDef="let element"> {{element.Client.name}}</td>
</ng-container>
<ng-container matColumnDef="Country">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> المدينة</th>
  <td mat-cell *matCellDef="let element"> {{element.Country.name}}</td>
</ng-container>
<ng-container matColumnDef="Region">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> المنطقة</th>
  <td mat-cell *matCellDef="let element"> {{element.Region.name}}</td>
</ng-container>


<ng-container matColumnDef="MonePlaced">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> موقع المبلغ</th>
  <td mat-cell *matCellDef="let element"> {{element.MonePlaced.name}}</td>
</ng-container>
<ng-container matColumnDef="Orderplaced">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> حالة الشحنة</th>
  <td mat-cell *matCellDef="let element"> {{element.Orderplaced.name}}</td>
</ng-container>
<ng-container matColumnDef="Agent">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> الوكيل</th>
  <td mat-cell *matCellDef="let element"> {{element.Agent.name}}</td>
</ng-container>



<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="mat-elevation-z8" style="width: 100%;height: 350px;" *ngIf="noDataFound">

<h5 style="padding-top: 20px; padding-right: 10px;">No records to display</h5>

</div>
<mat-paginator showFirstLastButtons [length]="totalCount" [pageSize]="paging.RowCount"
[pageSizeOptions]="paging.selectItemsPerPage" (page)="switchPage($event)"></mat-paginator>


       </div>
</div>

