.body {
    display: inline-block;
    background: url(/assets/img/error/woops.png) center/cover no-repeat;
    width: 50%;
    height: 55%;
    margin-right: 25%;
    color: rgb(35, 0, 117);
  }
  
  h1 {
    margin-right: 35%;
text-align: center;
    font: 100px Roboto;
  }
  p {
    text-align: center;
    font: 2em Roboto;
  }