<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <label>قيمة الصندوق الحالية : {{ treasury.total }}</label>
      </div>
      <div class="col-md-4">
        <label
          >تاريخ انشاء الصندوق :
          {{ treasury.createOnUtc | date: "dd/MM/yyyy" }}</label
        >
      </div>
      <div class="col-md-4">
        <label>
          فعال :
          <input
            type="checkbox"
            [(ngModel)]="treasury.isActive"
            [disabled]="isActive"
            (click)="ActiveOrDisActive()"
          />
        </label>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h3 class="text-center">حركات الصندوق</h3>
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef style="padding-right: 10px">
            قيمة الحركة
          </th>
          <td mat-cell *matCellDef="let element" style="padding-right: 10px">
            {{ element.amount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef style="padding-right: 10px">
            نوع الحركة
          </th>
          <td mat-cell *matCellDef="let element" style="padding-right: 10px">
            {{ element.type }}
          </td>
        </ng-container>
        <ng-container matColumnDef="createdOnUtc">
          <th mat-header-cell *matHeaderCellDef style="padding-right: 10px">
            تاريخ انشاء الحركة
          </th>
          <td mat-cell *matCellDef="let element" style="padding-right: 10px">
            {{ convertDate(element.createdOnUtc) | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="more">
          <th mat-header-cell *matHeaderCellDef style="padding-right: 10px">
            خيارات
          </th>
          <td mat-cell *matCellDef="let element" style="padding-right: 10px">
            <a
              class="btn btn-primary btn-xs"
              target="_blank"
              [routerLink]="['/app/reports/clientprintnumber/', element.clientPaymentId]"
              *ngIf="element.clientPaymentId"
            >
              &nbsp;عرض الحركة
            </a>

            <a
              class="btn btn-primary btn-xs"
              target="_blank"
              [routerLink]="['/app/reports/printclientreciptandexchange/', element.receiptId]"
              *ngIf="element.receiptId"
            >
              &nbsp;عرض الحركة
            </a>
            <a
              class="btn btn-primary btn-xs"
              target="_blank"
              [routerLink]="['/app/reports/printReceiptShipments/', element.receiptOfTheOrderStatusId]"
              *ngIf="element.receiptOfTheOrderStatusId"
            >
              &nbsp;عرض الحركة
            </a>
            <a
              class="btn btn-primary btn-xs"
              target="_blank"
              [routerLink]="['/app/outcome/view/', element.outcomeId]"
              (click)="outcome(element.outcomeId)"
              *ngIf="element.outcomeId"
            >
              &nbsp;عرض الحركة
            </a>
            <a
              target="_blank"
              [routerLink]="['/app/income/view/', element.incomeId]"
              class="btn btn-primary btn-xs"
              *ngIf="element.incomeId"
            >
              &nbsp;عرض الحركة
            </a>
            <a
              class="btn btn-primary btn-xs"
              (click)="CashMovmentId(element.cashMovmentId)"
              data-toggle="modal"
              data-target="#exampleModal"
              data-whatever="@getbootstrap"
              *ngIf="element.cashMovmentId"
            >
              &nbsp;عرض الحركة
            </a>
            <div
              class="modal fade bd-example-modal-lg"
              id="exampleModal"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2>عرض الحركة</h2>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <table class="table">
                      <thead class="table-primary">
                        <th>المبلغ</th>
                        <th>تاريخ الحركة</th>
                        <th>صاحب الصندوق</th>
                        <th>بواسطة</th>
                        <th>ملاحظات</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ cashMovmentid.amount | number }}</td>
                          <td>
                            {{
                              cashMovmentid.treasuryUserName
                                ? cashMovmentid.treasuryUserName
                                : null
                            }}
                          </td>
                          <td>
                            {{
                              convertDate(cashMovmentid.createdOnUtc)
                                | date: "yyyy/MM/dd"
                            }}
                          </td>
                          <td>
                            {{
                              cashMovmentid.createdBy
                                ? cashMovmentid.createdBy
                                : null
                            }}
                          </td>
                          <td>
                            {{ cashMovmentid.note ? cashMovmentid.note : null }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-dismiss="modal"
                    >
                      اغلاق
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <h5 style="padding-top: 20px; padding-right: 10px" *ngIf="noDataFound">
        لايوجد بيانات للعرض
      </h5>
    </div>
    <mat-paginator
      showFirstLastButtons
      [length]="total"
      [pageSize]="paging.RowCount"
      [pageSizeOptions]="paging.selectItemsPerPage"
      (page)="switchPage($event)"
    ></mat-paginator>
    <simple-notifications></simple-notifications>
  </div>
</div>
