<div class="card">
  <div class="card-body">
    <h3 class="text-center">صندوق الخاص بي</h3>
    <div class="row">
      <div class="col-md-3" *ngIf="firstAdd">
        <label>المبلغ المبدئي </label>
        <input
          type="text"
          class="form-control"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..-*)\./g, '$1');"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="createTreasury.Amount"
        />
      </div>
      <div class="col-md-3" style="padding-top: 15px" *ngIf="firstAdd">
        <button class="btn btn-primary" (click)="addTreasury()">
          &nbsp;اضافة
        </button>
      </div>

      <div class="col-md-3" *ngIf="!firstAdd">
        <label>المبلغ </label>
        <input
          type="text"
          class="form-control"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..-*)\./g, '$1');"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="this.createTreasury.Amount"
        />
      </div>
      <div class="col-md-2" style="padding-top: 15px" *ngIf="!firstAdd">
        <button class="btn btn-primary" (click)="GetMoney()">&nbsp;أخذ</button>
      </div>
      <div class="col-md-2" style="padding-top: 15px" *ngIf="!firstAdd">
        <button class="btn btn-primary" (click)="GiveMoney()">
          &nbsp;اعطاء
        </button>
      </div>
    </div>
  </div>
</div>

<simple-notifications></simple-notifications>
