<div [ngClass]="{'landing-page': true,'show-mobile-menu': showMobileMenu}">
    <div class="mobile-menu" (click)="$event.stopPropagation()">
        <a (click)="scrollTo('#home')" href="javascript:;" class="logo-mobile">
            <span></span>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item"><a (click)="scrollTo('#features');loginclient()" href="javascript:;">تسجيل دخول</a></li>
            <li class="nav-item"><a (click)="scrollTo('#features');login()" href="javascript:;">تسجيل دخول للموظفين</a></li>

            <li class="nav-item">
                <div class="separator"></div>
            </li>
            <!-- <li class="nav-item text-center">
                <a class="btn btn-outline-primary btn-sm mobile-menu-cta" target="_blank" [href]="buyUrl">BUY</a>
            </li> -->
        </ul>
    </div>

    <div class="main-container">
        <ngx-headroom class="landing-page-nav">
            <nav>
                <div class="container d-flex align-items-center justify-content-between">
                    <a class="navbar-logo pull-left" (click)="scrollTo('#home')" href="javascript:;">
                        <span class="white"></span>
                        <span class="dark"></span>
                    </a>
                    <ul class="navbar-nav d-none d-lg-flex flex-row">
                        <li class="nav-item"><a (click)="scrollTo('#features');loginclient()" href="javascript:;">تسجيل دخول</a></li>
                        <li class="nav-item"><a (click)="scrollTo('#features');login()" href="javascript:;">تسجيل دخول للموظفين</a></li>

                    </ul>
                    <span class="mobile-menu-button" (click)="showMobileMenu=!showMobileMenu; $event.stopPropagation()">
                        <i class="simple-icon-menu"></i>
                    </span>
                </div>
            </nav>
        </ngx-headroom>


        <div class="content-container" id="home">

            <router-outlet></router-outlet>

        </div>
    </div>
</div>
<!-- <div class="navbar-logo d-block d-md-none" (click)="$event.stopPropagation()">
  <a  href="javascript:;" class="navbar-logo">
      <span></span>
  </a>
  <ul class="navbar-nav">
      <li class="nav-item"><a  (click)="login()" href="javascript:;">تسجيل الدخول</a></li>
      <li class="nav-item">
          <div class="separator"></div>
      </li>
      <li class="nav-item text-center">
          <a class="btn btn-outline-primary btn-sm mobile-menu-cta" target="_blank" [href]="buyUrl">BUY</a>
      </li> 
  </ul>
</div>

<div class="main-container">
  <ngx-headroom class="landing-page-nav">
      <nav>
          <div class="container d-flex align-items-center justify-content-between">
              <a class="navbar-logo pull-left"  href="javascript:;">
                  <span class="white"></span>
                  <span class="dark"></span>
              </a>
              <ul class="navbar-nav d-none d-lg-flex flex-row">
                  <li class="nav-item"><a (click)="login()" href="javascript:;">تسجيل الدخول</a></li>
                 
              </ul>
              <span class="mobile-menu-button" (click)="showMobileMenu=!showMobileMenu; $event.stopPropagation()">
                  <i class="simple-icon-menu"></i>
              </span>
          </div>
      </nav>
  </ngx-headroom> -->