<div [ngClass]="{'landing-page': true,'show-mobile-menu': showMobileMenu}">
    <div class="mobile-menu" (click)="$event.stopPropagation()">
        <a (click)="scrollTo('#home')" href="javascript:;" class="logo-mobile">
            <span></span>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item"><a (click)="scrollTo('#home')" href="javascript:;">الرئيسية</a></li>
            <li class="nav-item"><a (click)="scrollTo('#layouts')" href="javascript:;">اسعار التوصيل</a></li>
            <li class="nav-item"><a (click)="scrollTo('#features')" href="javascript:;">خدمتنا</a></li>
            <li class="nav-item"><a (click)="scrollTo('#apps')" href="javascript:;">عملاء نتعامل معهم</a></li>
            <li class="nav-item"><a href="{{clientURL}}">تسجيل الدخول</a></li>
            <li class="nav-item">
                <div class="separator"></div>
            </li>
            <!-- <li class="nav-item text-center">
                <a class="btn btn-outline-primary btn-sm mobile-menu-cta" target="_blank" [href]="buyUrl">BUY</a>
            </li> -->
        </ul>
    </div>

    <div class="main-container">
        <ngx-headroom class="landing-page-nav">
            <nav>
                <div class="container d-flex align-items-center justify-content-between">
                    <a class="navbar-logo pull-left" (click)="scrollTo('#home')" href="javascript:;">
                        <span class="white h1">Quqaz</span>
                        <span class="dark h1">Quqaz</span>
                    </a>
                    <ul class="navbar-nav d-none d-lg-flex flex-row">
                        <li class="nav-item"><a (click)="scrollTo('#home')" href="javascript:;">الرئيسية</a></li>
                        <!-- <li class="nav-item"><a (click)="scrollTo('#features')" href="javascript:;">الرئيسية</a></li> -->
                        <li class="nav-item"><a (click)="scrollTo('#layouts')" href="javascript:;">اسعار التوصيل</a>
                        </li>
                        <li class="nav-item"><a (click)="scrollTo('#features')" href="javascript:;">خدمتنا</a>
                        </li>
                        <li class="nav-item"><a (click)="scrollTo('#apps')" href="javascript:;">عملاء نتعامل معهم</a>
                        </li>
                        <li class="nav-item"><a href="{{clientURL}}">تسجيل الدخول</a></li>

                    </ul>
                    <span class="mobile-menu-button" (click)="showMobileMenu=!showMobileMenu; $event.stopPropagation()">
                        <i class="simple-icon-menu"></i>
                    </span>
                </div>
            </nav>
        </ngx-headroom>


        <div class="content-container" id="home">

            <div class="section home">
                <div class="container">
                    <div class="row home-row">


                        <div class="col-6 col-xl-4 col-lg-5 col-md-6">
                            <div class="home-text">
                                <div class="display-1">شركة القوقز <br /></div>
                                <p class="white mb-5">
                                    للتوصيل السريع<br />
                                    <br />
                                    التوصيل الى جميع محافظات العراق<br />
                                    <br />
                                    نتسوق لكم من جميع المواقع العالمية
                                </p>
                                <!-- <a class="btn btn-light btn-xl mr-2 mb-2" [href]="adminRoot" target="_blank">
                                    VIEW NOW <i class="simple-icon-arrow-right"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-6 d-block d-md-none">
                            <a [href]="adminRoot" target="_blank">
                                <img alt="mobile hero" class="mobile-hero"
                                    src="/assets/img/landing-page/vanQuqaz.png" />
                            </a>
                        </div>
                        <div class="col-6 col-xl-7 offset-xl-1 col-lg-7 col-md-6  d-none d-md-block">
                            <a [href]="adminRoot" target="_blank">
                                <img alt="hero" src="/assets/img/landing-page/vanQuqaz.png" />
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="home-carousel" id="layouts">
                                <!-- <app-glide [settings]="slideSettings">
                                    <div class="card" *ngFor="let f of slideItems">
                                        <div class="card-body text-center">
                                            <div>
                                                <i class="{{f.icon+ ' large-icon'}}"></i>
                                                <h5 class="mb-3 font-weight-semibold">{{f.title}}</h5>
                                            </div>
                                            <div>
                                                <p class="detail-text">{{f.detail}}</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </app-glide> -->
                                <h1 style="text-align: center; color: white;">اسعار التوصيل </h1>

                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item " [ngClass]="{'active': i==0}"
                                            *ngFor="let country of countries;index as i">
                                            <div class="container">
                                                <div class="row">

                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-6"
                                                        *ngFor="let countr of country">
                                                        <div class="card">
                                                            <div class="card-body  text-center">

                                                                <!-- <i class="fa fa-instagram fa-3x" aria-hidden="true"></i> -->
                                                                <svg style="color:  #2b619b;" xmlns="http://www.w3.org/2000/svg" width="50"
                                                                    height="50" fill="currentColor" class="bi bi-truck"
                                                                    viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                                                </svg>
                                                                <div class="title">
                                                                    <h4>{{countr.name}}</h4>
                                                                </div>

                                                                <div class="text">
                                                                    <h2>{{countr.deliveryCost|number}}</h2>
                                                                </div>

                                                                <!-- <a href="#">Learn More</a> -->

                                                            </div>
                                                        </div>


                                                    </div>

                                                    <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                                                        <div class="box-part text-center">

                                                            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>

                                                            <div class="title">
                                                                <h4>Twitter</h4>
                                                            </div>

                                                            <div class="text">
                                                                <span>Lorem ipsum dolor sit amet, id quo eruditi
                                                                    eloquentiam. Assum decore te sed. Elitr scripta
                                                                    ocurreret qui ad.</span>
                                                            </div>

                                                            <a href="#">Learn More</a>

                                                        </div>
                                                    </div> -->





                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="carousel-item ">
                                            <div class="container">
                                                <div class="row">

                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                                                        <div class="box-part text-center">

                                                            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

                                                            <div class="title">
                                                                <h4>Instagram</h4>
                                                            </div>

                                                            <div class="text">
                                                                <span>Lorem ipsum dolor sit amet, id quo eruditi
                                                                    eloquentiam. Assum decore te sed. Elitr scripta
                                                                    ocurreret qui ad.</span>
                                                            </div>

                                                            <a href="#">Learn More</a>

                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                                                        <div class="box-part text-center">

                                                            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>

                                                            <div class="title">
                                                                <h4>Twitter</h4>
                                                            </div>

                                                            <div class="text">
                                                                <span>Lorem ipsum dolor sit amet, id quo eruditi
                                                                    eloquentiam. Assum decore te sed. Elitr scripta
                                                                    ocurreret qui ad.</span>
                                                            </div>

                                                            <a href="#">Learn More</a>

                                                        </div>
                                                    </div>





                                                </div>
                                            </div>
                                        </div> -->

                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <a class="btn btn-circle btn-outline-semi-light hero-circle-button"
                            (click)="scrollTo('#features')">
                            <i class="simple-icon-arrow-down"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="container" id="features">
                    <div class="row">
                        <div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
                            <h1>خدمتنا</h1>
                            <div class="row">
                                <div class="col-2">
                                    <div class="circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                            fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                        </svg>

                                    </div>
                                    <br>
                                    <p>
                                        اختر عنوانك
                                    </p>
                                </div>
                                <div class="col-2">
                                    <div class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="75" height="50"
                                            fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                        </svg>
                                    </div>

                                </div>
                                <div class="col-2">
                                    <div class="circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                            fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                                            <path
                                                d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                    <br>

                                    <p>
                                        ارسال المندوب
                                    </p>
                                </div>
                                <div class="col-2">
                                    <div class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="75" height="50"
                                            fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                        </svg>

                                    </div>

                                </div>
                                <div class="col-2">
                                    <div class="circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                            fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                            <path fill-rule="evenodd"
                                                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                                        </svg>
                                    </div>
                                    <br>

                                    <p>
                                        تسليم الطلب
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div *ngFor="let feature of features;let i = index">
                        <div *ngIf="i%2==0" class="row feature-row">
                            <div class="col-12 col-md-6 col-lg-5 d-flex align-items-center">
                                <div class="feature-text-container">
                                    <h2>{{feature.title}}</h2>
                                    <p [innerHTML]="feature.detail"></p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 offset-lg-1 offset-md-0 position-relative">
                                <img [alt]="feature.title" [src]="feature.img"
                                    class="feature-image-right feature-image-charts position-relative" />
                            </div>
                        </div>
                        <div *ngIf="i%2==1" class="row feature-row">
                            <div class="col-12 col-md-6 col-lg-6 order-2 order-md-1">
                                <img [alt]="feature.title" [src]="feature.img"
                                    class="feature-image-left feature-image-charts" />
                            </div>
                            <div
                                class="col-12 col-md-6 offset-md-0 col-lg-5 offset-lg-1 d-flex align-items-center order-1 order-md-2">
                                <div class="feature-text-container">
                                    <h2>{{feature.title}}</h2>
                                    <p [innerHTML]="feature.detail"></p>
                                </div>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>

            <!-- <div class="section background">
                <div class="container" id="layouts">
                    <div class="row">
                        <div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
                            <h1>Structures & Layouts</h1>
                            <p>
                                We did our best to create layouts for various needs that developers might have and best
                                experience
                                for users.
                                <br>
                                They are clean and slick. They function well and look good at the same time.

                            </p>
                        </div>
                    </div>

                    <div class="row pt-5">
                        <div class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-5" *ngFor="let l of layouts">
                            <img class="img-fluid border-radius depth-2 mb-3 semi-rounded" [src]="l.img">
                            <h4 class="text-center">{{l.title}}</h4>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="section mb-0">
                <div class="container" id="components">
                    <div class="row mb-5">
                        <div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
                            <h1>خدمتنا</h1>
                            <p>
                                We used most popular and well managed open source components with bootstrap components.
                                Combined them into even more useful ones. Themed them with same design principles and
                                created a design harmony between components and layouts.
                                <br>
                                <br>
                                From carousels to charts, switches to list we tried to provide components that we like
                                to use on our development processes.
                            </p>
                        </div>
                    </div>
                </div>
                <img class="components-image mb-5 pb-5" src="/assets/img/landing-page/components.jpg">
            </div> -->

            <div class="section background">
                <div class="container" id="apps">
                    <div class="row">
                        <div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center mb-4">
                            <h1>عملاء نتعامل معهم </h1>
                            <p class="section-text">
                                With the help of components and layouts, we created four different applications.
                                They
                                are a good way to get you started
                                if you want to build something similar.
                            </p>
                        </div>
                    </div>
                    <!-- <div class="row screenshots">
                        <div class="col-12 text-center mb-4">
                            <tabset class="nav nav-tabs justify-content-center">
                                <tab *ngFor="let app of applications" [heading]="app.title" class="card-body pt-0">
                                    <a [routerLink]="app.path">
                                        <img [alt]="app.title" [src]="app.img" class="app-image" />
                                    </a>
                                </tab>
                            </tabset>
                        </div>
                    </div> -->
                </div>
            </div>

            <!-- <div class="section mb-0">
                <div class="container" id="themes">
                    <div class="row mb-5">
                        <div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
                            <h1>Themes</h1>
                            <p>
                                We carefully choosed colors and created 10 different themes with dark and light
                                versions. You may also
                                create your own themes easily since all the theme related styling is managed by Sass
                                variables.
                            </p>
                        </div>
                    </div>
                    <div class="row mb-5" *ngFor="let t of themes">
                        <div class="col-12 text-center mb-3">
                            <h4 class="text-center">{{t.title}}</h4>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mb-3">
                            <div class="depth-2 color-container">
                                <div *ngFor="let align of ['left','center','right'],let i = index"
                                    class="{{t.class + '-light-'+(i+1)+' color-' + align}}"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="depth-2 color-container">
                                <div *ngFor="let align of ['left','center','right'],let i = index"
                                    class="{{t.class + '-dark-'+(i+1)+' color-' + align}}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="section background background-no-bottom mb-0 pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
                            <h1>Enjoying so Far?</h1>
                            <p>
                                Purchase Vien to get a fresh start with your new project.
                            </p>
                        </div>

                    </div>
                </div>
            </div> -->

            <div class="section footer mb-0">
                <div class="container">
                    <div class="row footer-row">
                        <div class="col-12 text-right">
                            <a class="btn btn-circle btn-outline-semi-light footer-circle-button"
                                (click)="scrollTo('#home')" href="javascript:;"><i class="simple-icon-arrow-up"></i></a>
                        </div>
                        <div class="col-12 text-center footer-content">
                            <a (click)="scrollTo('#home')" href="javascript:;">
                                Quqaz
                                <!-- <img class="footer-logo" alt="footer logo" src="/assets/logos/white-full.svg" /> -->
                            </a>
                        </div>
                    </div>
                </div>
                <div class="container copyright pt-5 pb-5">
                    <div class="row">
                        <div class="col-12"></div>
                        <div class="col-12 text-center">
                            <p class="mb-0">2021 © Quqaz</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>