<section class="ftco-section" style="background-image: url('assets/img/login/loginr.png');
text-align: center;height: 100%;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">تسجيل الدخول</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">
					<form action="#" class="signin-form"#loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
						<div class="form-group">
							<input type="text" class="form-control" name="userName"
							ngModel #userName="ngModel"	placeholder="اسم المستخدم" required>
						</div>
						<div class="form-group">
							<!-- <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span> -->

							<input id="password-field" type="password" class="form-control" placeholder="كلمة المرور"
						 name="password"	ngModel #password="ngModel"	required>
						</div>
						
						<div  class="w-100 p-1 h-100">
							<!-- <a routerLink="/user/forgot-password">{{ 'user.forgot-password' | translate }}?</a> -->
							<app-state-button [btnClass]="'btn btn-danger btn-lg btn-shadow'" [currentState]="buttonState"
							  [isDisabled]="buttonDisabled" click="onSubmit()"style="width: 100%;">
							  {{ 'user.login-button' | translate | uppercase }}
							</app-state-button>
						  </div>
						<!-- <div class="form-group d-md-flex">

							<div class="w-50 text-md-right">
								<a href="#" style="color: #fff">Forgot Password</a>
							</div>
							<div class="w-50">
								<label class="checkbox-wrap checkbox-primary">Remember Me
									<input type="checkbox" checked>
									<span class="checkmark"></span>
								</label>
							</div>
						</div> -->
					</form>

				</div>
			</div>
		</div>
	</div>
</section>
 

<simple-notifications></simple-notifications>
