<div *ngIf="type=='number'">
    <label *ngIf="lable!=''">{{lable}}<span class="text-danger text-one align-bottom mx-1"
            *ngIf="required">*</span></label>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="value"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '');"
        [ngClass]="[ className?className:'form-control']" [minlength]="minlengthInput" [maxlength]="maxlengthInput"
        [disabled]="disabled" (change)="change" [name]="name" (ngModelChange)="changeValue($event)"
        (keydown.enter)="onEnter.emit()">
</div>
<!-- <div *ngIf="type=='phone'">
    <label *ngIf="lable!=''">{{lable}}<span class="text-danger text-one align-bottom mx-1"
            *ngIf="required">*</span></label>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="value"
        oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');"
        [ngClass]="[ className?className:'form-control']" [minlength]="minlengthInput" [maxlength]="maxlengthInput"
        [disabled]="disabled" (change)="change" [name]="name" (ngModelChange)="changeValue($event)">
    <div class="message" *ngIf="value&& checkLengthPhoneNumber(Order.RecipientPhones)">
        {{RecipientPhoneslength}}
    </div>
</div> -->