<div class="card">
    <h3>صندوق الموظف </h3>
    <div class="card-body">
        <h3>اضافة صندوق </h3>
        <div class="row">
            <div class="col-md-3">
                <label>المبلغ المبدئي </label>
                <input type="text" class="form-control"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..-*)\./g, '$1');"
                    [ngModelOptions]="{standalone: true}" [(ngModel)]="createTreasury.Amount">
            </div>
            <div class="col-md-3" *ngIf="false">
                <label>اخذ\ إعطاء</label>
                <ng-select [(ngModel)]="GiveOrDiscountPointsDto" [ngModelOptions]="{standalone: true}"
                    [closeOnSelect]="true">
                    <ng-option [value]="false">اخذ</ng-option>
                    <ng-option [value]="true">إعطاء</ng-option>
                </ng-select>
            </div>


            <div class="col-md-3" *ngIf="false">
                <label>المبلغ </label>
                <input type="text" class="form-control"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..-*)\./g, '$1');"
                    [ngModelOptions]="{standalone: true}" [(ngModel)]="User.name">
            </div>

            <div class="col-md-3" style="padding-top:15px;">
                <button class="btn  btn-primary" (click)="addTreasury()">
                    &nbsp;اضافة
                </button>

            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <label>اسم صاحب الصندوق : {{User.name}}</label>
            </div>
            <div class="col-md-3">
                <label>قيمة الصندوق الحالية : {{treasury.total}}</label>
            </div>
            <div class="col-md-3">
                <label>تاريخ انشاء الصندوق : {{treasury.createOnUtc}}</label>
            </div>
            <div class="col-md-3">
                <label>
                    فعال : <input type="checkbox" [(ngModel)]="treasury.isActive"
                        id="defaultCheck1">
                </label>

            </div>
        </div>
        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef style="padding-right: 10px;">  قيمة بدائية للصندوق  </th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 10px;"> {{element.amount}}</td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef  style="padding-right: 10px;">النوع</th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 10px;"> {{element.type}}</td>
                </ng-container>
                <ng-container matColumnDef="createdOnUtc">
                    <th mat-header-cell *matHeaderCellDef  style="padding-right: 10px;"> تاريخ انشاء الصندوق  </th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 10px;"> {{element.createdOnUtc| date:"dd/MM/yyyy"}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <h5 style="padding-top: 20px; padding-right: 10px;" *ngIf="noDataFound"> لايوجد بيانات للعرض</h5>
        </div>
    </div>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
<simple-notifications></simple-notifications>