<div class="wrapper" style="direction: rtl;">
    <header>
        <div class="card" style="background-color: rgba(5, 6, 8, 0.836); margin: 1%;
      text-align: center;margin-top: 10%;">
            <div class="card-body">
                <h1 style="color: rgb(230, 104, 2);">القوقز</h1>
                <h3 style="color: white;">للتوصيل السريع</h3>
            </div>
        </div>

    </header>

    <section>
        <div class="row" style="text-align: center;">
            <div class="col-4">
                <h4 style="border-left: rgb(59, 58, 58) 2px solid;">
                    <a>0</a>
                    <br>
                    طلبات جديدة</h4>
            </div>
            <div class="col-4">
                <h4 style="border-left: rgb(59, 58, 58) 2px solid;">
                    <a>0</a>
                    <br>
                    طلبات جديدة</h4>
            </div>
            <div class="col-4">
                <h4>
                    <a>0</a>
                    <br>
                    طلبات جديدة</h4>
            </div>
        </div>
    </section>
</div>
<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <a >
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">اضافة طلب </h4>
                                    <p class="description"> </p>
                                    
                                </div>
                            </div>
                        </a>
                       
                    </div>
                </div>
        
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <a >
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title"> الطلبات </h4>
                                    <p class="description"> </p>
                                    
                                </div>
                            </div>
                        </a>
                        
                    </div>
                </div>
        
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <a >
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title"> الطلبات الجديدة</h4>
                                    <p class="description"> </p>
                                    
                                </div>
                            </div>
                        </a>
                      
                    </div>
                </div>
        
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <a >
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-chart-bar-32"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"> الطلبات التي في الطريق</h4>
                                <p class="description"> </p>
                                
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
        
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <a >
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-chart-bar-32"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"> طلبات داخل الشركة</h4>
                                <p class="description"> </p>
                                
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
        
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <a >
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-chart-bar-32"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"> طلبات خارج الشركة</h4>
                                <p class="description"> </p>
                                
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
        
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <a >
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-chart-bar-32"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"> طلبات غير مستلمة من الشركة</h4>
                                <p class="description"> </p>
                                
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
        
            </div>
        </div>
        </div>
</div>

