.header, .header-space{padding-left: 10%; height: 100px;width: 90%; }
.footer, .footer-space { height:70px; }
.header { position: fixed; top: 0;direction: rtl; }
.footer { position: fixed; bottom: 0; direction: rtl;}

.invoice {
  page-break-after: always;
}

.invoice:last-child {
  page-break-after: avoid;
}
.table-bordered{
  border-width: 3px;
}