<div class="row"> 
<div class="col-md-4">
<h4>توصيل الى جميع المحافظات</h4>
<h4>التسوق من جميع المواقع العالمية</h4>
<h4>اعلانات على مواقع التواصل الإجتماعي</h4>

</div>
<div class="col-md-4">
    <img [src]="sanitizer.bypassSecurityTrustUrl('/assets/logos/kokaz.PNG')" />
</div>
<div class="col-md-4">
    <h4>مندوب استلام الطلبيات</h4>
    <h5>{{RecipientPhone}}</h5>
    <h4>التبليغات</h4>
    <h5>{{NotificationsPhone}}</h5>
    <h5>{{instgram}}</h5>
    <h5>{{facebook}}</h5>
    <h5>{{email}}</h5>
    <h5>{{location}}</h5>
</div>
</div>