<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h3 class="card-title">اضافة طلبات</h3>
        </div>
        
        <div>
            <button type="submit" class="btn btn-primary" (click)="AddOrder()"> حفظ</button>
        
        </div>
        <br>
        <div class="example-container mat-elevation-z8">
            <table class="table">
                <thead>
                    <th>كود الشحنة</th>
                    <th>العميل</th>
                    <th>المدينة</th>
                    <th>المنطقة</th>
                    <th>المندوب</th>
                    <th>كلفة التوصيل</th>
                    <th>الكلفة</th>
                    <th>موقع المبلغ</th>
                    <th>حالة الشحنة</th>
                    <th>العنوان</th>
                    <th>التاريخ</th>
                    <th>تاريخ التسليم</th>
                    <th>اسم المستلم</th>
                    <th>نوع الطلبية</th>
                    <th>هاتف المستلم</th>
                    <th>ملاحظات</th>
                </thead>
                <tbody>
                    <tr *ngFor="let order of Orders">
                        <td>
                            {{order}}
                        </td>
                        <td>
        
                        </td>
                        <td>
        
                        </td>
                        <td>
        
                        </td>
                        <td>
        
                        </td>
                        <td>
        
                        </td>
                        <td>
        
                        </td>
                        <td>
        
                        </td>
                        <td>
        
                        </td>
                        <td>
        
                        </td>
                        <td>
        
                        </td>
                        <td>
        
                        </td>
                        <td>
        
                        </td>
                        <td>
        
                        </td>
                        <td>
        
                        </td>
                        <td>
        
                        </td>
                    </tr>
                    <tr>
        
                        <td>
                            <div>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Order.Code" (keyup)="CheckCode()" (keyup.enter)="onEnter()"
                                    style="width: 125px;">
                                <div *ngIf="!Order.Code && submitted" class="message">كود الشحنة حقل مطلوب</div>
        
                            </div>
        
                        </td>
                        <td>
                            <ng-select [(ngModel)]="Order.ClientId" (change)="CheckCode()" (keyup.enter)="onEnter()"
                                style="width: 125px;" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
                                name="Client">
                                <ng-option *ngFor="let Client of clients" [value]="Client.id">{{Client.name}}</ng-option>
                            </ng-select>
                            <div *ngIf="!Order.ClientId && submitted" class="message">العميل حقل مطلوب</div>
                            <div *ngIf="showMessageCode" class="message">يوجد شحنة مسبقا لهذا العميل بنفس الكود</div>
        
                        </td>
                        <td>
                            <ng-select [(ngModel)]="Order.CountryId" (keyup.enter)="onEnter()" style="width: 125px;"
                                (change)="changeCountry()" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
                                name="Country">
                                <ng-option *ngFor="let citie of cities" [value]="citie.id">{{citie.name}}</ng-option>
                            </ng-select>
                            <div *ngIf="!Order.CountryId && submitted" class="message">المدينة حقل مطلوب</div>
        
                        </td>
                        <td>
                            <ng-select [(ngModel)]="Order.RegionId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
                                name="Region" [addTag]="true" (keyup.enter)="onEnter()" style="width: 125px;">
                                <ng-option *ngFor="let region of Region" [value]="region.id">{{region.name}}</ng-option>
                            </ng-select>
                        </td>
                        <td>
                            <ng-select [(ngModel)]="Order.AgentId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
                                name="Agent" (keyup.enter)="onEnter()" style="width: 125px;">
                                <ng-option *ngFor="let Agent of Agents" [value]="Agent.id">{{Agent.name}}</ng-option>
                            </ng-select>
                            <div *ngIf="!Order.AgentId && submitted" class="message">المندوب حقل مطلوب</div>
        
                        </td>
                        <td>
                            <input type="number" class="form-control" [ngModelOptions]="{standalone: true}"
                                (keyup.enter)="onEnter()" style="width: 125px;" [(ngModel)]="Order.Cost" readonly>
                        </td>
                        <td>
                            <input type="number" class="form-control" [ngModelOptions]="{standalone: true}"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                (keyup.enter)="onEnter()" style="width: 125px;" [(ngModel)]="Order.Amount">
                            <div *ngIf="!Order.Amount && submitted" class="message">الكلفة حقل مطلوب</div>
        
                        </td>
                        <td>
                            <ng-select [(ngModel)]="Order.MoenyPlacedId" [ngModelOptions]="{standalone: true}"
                                [closeOnSelect]="true" name="MonePlaced" (keyup.enter)="onEnter()" style="width: 125px;">
                                <ng-option *ngFor="let moenyPlaced of MoenyPlaced" [value]="moenyPlaced.id">{{moenyPlaced.name}}
                                </ng-option>
                            </ng-select>
                            <div *ngIf="!Order.MoenyPlacedId && submitted" class="message">موقع المبلغ حقل مطلوب</div>
        
                        </td>
                        <td>
                            <ng-select [(ngModel)]="Order.OrderplacedId" [ngModelOptions]="{standalone: true}"
                                (keyup.enter)="onEnter()" style="width: 125px;" [closeOnSelect]="true" name="Orderplaced">
                                <ng-option *ngFor="let order of orderPlace" [value]="order.id">{{order.name}}</ng-option>
                            </ng-select>
                            <div *ngIf="!Order.OrderplacedId && submitted" class="message">حالة الشحنة حقل مطلوب</div>
        
                        </td>
                        <td>
                            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                (keyup.enter)="onEnter()" style="width: 125px;" [(ngModel)]="Order.Address">
                        </td>
                        <td>
                            <input type="text" readonly class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Order.Date" name="Date" bsDatepicker [container]="'html'" (keyup.enter)="onEnter()"
                                style="width: 125px;" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }">
        
                        </td>
                        <td>
                            <input type="text" readonly class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Order.DiliveryDate" name="DiliveryDate" bsDatepicker [container]="'html'"
                                (keyup.enter)="onEnter()" style="width: 125px;"
                                [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }">
        
                        </td>
                        <td>
                            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                (keyup.enter)="onEnter()" style="width: 125px;" [(ngModel)]="Order.RecipientName">
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs btn-primary" style="width: 75px;" data-toggle="modal"
                                data-target="#exampleModal" data-whatever="@getbootstrap">نوع الطلبية</button>
        
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">نوع الطلبية</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>نوع <span
                                                            class="text-danger text-one align-bottom mx-1">*</span></label>
                                                    <ng-select [items]="orderTypes" [(ngModel)]="orderType" bindLabel="name"
                                                        [addTag]="true" name='orderTypeSelect'>
                                                    </ng-select>
                                                    <div *ngIf="!orderType && submitordertype" class="message">النوع حقل
                                                        مطلوب</div>
        
                                                </div>
                                                <div class="col-md-6">
                                                    <label>العدد</label>
                                                    <input id="phone" type="number" maxlength="10"
                                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                        class="form-control" [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="count">
                                                    <div *ngIf="!count && submitordertype" class="message">العدد حقل
                                                        مطلوب</div>
        
                                                </div>
                                            </div>
        
                                            <button type="button" class="btn btn-primary"
                                                (click)="AddOrderType()">اضافة</button>
        
                                            <table class="table">
                                                <thead>
                                                    <th>
                                                        #
                                                    </th>
                                                    <th>
                                                        نوع الطلبية
                                                    </th>
                                                    <th>
                                                        العدد
                                                    </th>
                                                    <th>
        
                                                    </th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let OrderType of Order.OrderTypeDtos;let i=index">
                                                        <td>{{i}}</td>
                                                        <td>{{OrderType.OrderTypeName}}</td>
                                                        <td>{{OrderType.Count}}</td>
                                                        <td>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                                fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"
                                                                style="cursor: pointer;">
                                                                <path
                                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                                <path fill-rule="evenodd"
                                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                            </svg>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">اغلاق</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let phone of Order.RecipientPhones;let i=index" class="col-md-3">
                                <ng-container>
                                    <label>{{i+1}}</label>
                                    <input type="text" maxlength="10" style="width: 125px;"
                                        oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');"
                                        class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="Order.RecipientPhones[i]">
                                </ng-container>
                            </div>
                            <div class="col-md-3">
                                <input type="text" maxlength="10"
                                    oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');"
                                    style="width: 125px;" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="tempPhone">
                                <div *ngIf="!tempPhone&&Order.RecipientPhones!=null&&Order.RecipientPhones!=undefined&&Order.RecipientPhones.length==0 && submitted"
                                    class="message">هاتف
                                    المستلم حقل مطلوب</div>
        
                            </div>
        
                            <div class="col-2">
                                <button type="button" class="btn" (click)="addNewPhone()"><i
                                        class="iconsminds-add  text-primary" style="font-size: 22px;"></i></button>
                            </div>
                        </td>
        
                        <td>
                            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                (keyup.enter)="onEnter()" style="width: 125px;" [(ngModel)]="Order.Note">
        
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<simple-notifications></simple-notifications>