<h3>أرباح الطلبات</h3>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <label>من تاريخ</label>
        <ejs-datepicker name="fromDate" [(ngModel)]='fromDate' (ngModelChange)="changeRange()" id="fromDate"
          placeholder='اختر تاريخ'>
        </ejs-datepicker>

      </div>
      <div class="col-3">
        <label>الى تاريخ</label>
        <ejs-datepicker name="toDate" [(ngModel)]='toDate' (ngModelChange)="changeRange()" id="toDate"
          placeholder='اختر تاريخ'>
        </ejs-datepicker>
      </div>
      <div class="col-10"></div>
      <div class="col-2">
        الإجمالي :
        <span [ngClass]="{'badge-success':totalEarinig>0,'badge-danger':totalEarinig<0}">{{totalEarinig}}</span>
      </div>
    </div>
  </div>
</div>
<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort (onPageSwitch)="switchPage($event)">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-right: 10px;"> كود </th>
      <td mat-cell *matCellDef="let element" style="padding-right: 10px;"> {{element.code}}</td>
    </ng-container>
    <ng-container matColumnDef="orderplaced">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding:10px;"> حالة الشحنة</th>
      <td mat-cell *matCellDef="let element" style="padding:10px;">
        {{element.orderplaced!=null?element.orderplaced.name:null}}</td>
    </ng-container>
    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-right: 10px;"> كلفة الشحنة </th>
      <td mat-cell *matCellDef="let element" style="padding-right: 10px;"> {{element.cost}}</td>
    </ng-container>
    <ng-container matColumnDef="oldCost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> كلفة الشحنة القديمة </th>
      <td mat-cell *matCellDef="let element" style="padding:10px;"> {{element.oldCost}}</td>
    </ng-container>
    <ng-container matColumnDef="deliveryCost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-right: 10px;"> كلفة التوصيل </th>
      <td mat-cell *matCellDef="let element" style="padding-right: 10px;"> {{element.deliveryCost}}</td>
    </ng-container>
    <ng-container matColumnDef="agentCost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> كلفة توصيل المندوب</th>
      <td mat-cell *matCellDef="let element" style="padding:10px;"> {{element.agentCost}}</td>
    </ng-container>
    <ng-container matColumnDef="Earinig">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> الربح</th>
      <td mat-cell *matCellDef="let element;index as i" style="padding:10px;">
        <span [ngClass]="{'badge-success':getEarning[i]>0,'badge-danger':getEarning[i]<0}">{{getEarning[i]}}</span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <h5 style="padding-top: 20px; padding-right: 10px;" *ngIf="noDataFound"> لايوجد بيانات للعرض</h5>

</div>
<mat-paginator showFirstLastButtons [length]="totalCount" [pageSize]="paging.RowCount"
  [pageSizeOptions]="paging.selectItemsPerPage" (page)="switchPage($event)"></mat-paginator>