.badge-success {
    border-radius: 8px;
    background-color: rgba(218, 251, 218, 0.861);
    color: rgb(2, 213, 122);
    padding: 5px;
}

.badge-danger {
    border-radius: 8px;
    background-color: rgba(251, 218, 218, 0.861);
    color: rgb(133, 2, 2);
    padding: 5px;
}