
<div class="card">
    <div class="card-body">

    
        
<div class="card">
    <div class="card-body">
        <h3 style="color: rgb(8, 58, 150);"> طلبات عند العميل </h3>
        <br>
        <h5>بحث على حسب</h5>

    <div class="row">
        <div class="col-md-3">
            <label> كود الشحنة</label>
            <input type="text" class="form-control" (keyup)="get()" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="filtering.Code" placeholder=" كود الشحنة">
        </div>
        <div class="col-md-3">
            <label> العميل</label>
            <ng-select [(ngModel)]="filtering.ClientId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
            (ngModelChange)="get()">
              <ng-option *ngFor="let client of clients" [value]="client.id">{{client.name}}
              </ng-option>
            </ng-select>
           
  
          </div>
    </div>
   
  
</div>
    </div>
    
        <div class="example-container mat-elevation-z8">
            
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-right: 10px;"> كود </th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 10px;"> {{element.code}}</td>
                </ng-container>
               
                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> كلفة الطلب</th>
                    <td mat-cell *matCellDef="let element" style="padding:10px;"> {{element.cost}}</td>
                </ng-container>
                <ng-container matColumnDef="recipientName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> اسم المستلم</th>
                    <td mat-cell *matCellDef="let element" style="padding:10px;"> {{element.recipientName}}</td>
                </ng-container>


                <ng-container matColumnDef="recipientPhones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30px;"> رقم المستلم</th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;padding:10px;">
                        {{element.recipientPhones}}</td>
                </ng-container>
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> العنوان</th>
                    <td mat-cell *matCellDef="let element" style="padding:10px;"> {{element.address}}</td>
                </ng-container>
                    
                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding:10px;"> ملاحظات</th>
                    <td mat-cell *matCellDef="let element" style="padding:10px;"> {{element.note}}</td>
                </ng-container>
                <ng-container matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding:10px;"> اسم العميل</th>
                    <td mat-cell *matCellDef="let element" style="padding:10px;">
                        {{element.client!=null?element.client.name:null}}</td>
                </ng-container>
                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> المدينة</th>
                    <td mat-cell *matCellDef="let element" style="padding:10px;">
                        {{element.country!=null?element.country.name:null}}</td>
                </ng-container>
                <ng-container matColumnDef="region">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> المنطقة</th>
                    <td mat-cell *matCellDef="let element" style="padding:10px;">
                        {{element.region!=null?element.region.name:null}}</td>
                </ng-container>
                <ng-container matColumnDef="agent">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding:10px;"> الوكيل</th>
                    <td mat-cell *matCellDef="let element" style="padding:10px;">
                        {{element.agent!=null?element.agent.name:null}}</td>
                </ng-container>
                <ng-container matColumnDef="print">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element;index as i" >
          
                        <span class="btn btn-xs badge-primary "(click)="print(i)"  >طباعة</span>
                      
                        <app-receipt-new-orders [order]="element" [hidden]="true" id="contentToConvert-{{i}}"></app-receipt-new-orders>

                    </td>
                </ng-container>
        

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


            <h5 style="padding-top: 20px; padding-right: 10px;" *ngIf="noDataFound">  لايوجد بيانات للعرض</h5>

        </div>
    </div>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
