<div class="col-md-12 mb-4">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">{{'menu.income' | translate}}</h5>
      <button class="btn  mb-3" (click)="addIncomModal.show();addNewClicked()"><i class="iconsminds-add  text-primary" style="font-size: 38px;"></i></button>
</div>
<button (click)="AddMoreOutcome()" class="btn btn-primary"> اضافة متعددة</button>
<br><br>
<h5 class="card-title">بحث على حسب : </h5>
<div class="row">
  <div class="col-md-2">
    <label>نوع الواردات</label>
    <ng-select [(ngModel)]="filtering.Type" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
    (ngModelChange)="allFilter()">
      <ng-option *ngFor="let importType of importTypes" [value]="importType.id">{{importType.name}}
      </ng-option>
    </ng-select>
  </div>
  <div class="col-md-2">
    <label>العملة</label>
    <ng-select [(ngModel)]="filtering.CurrencyId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
    (ngModelChange)="allFilter()">
      <ng-option *ngFor="let coin of coins" [value]="coin.id">{{coin.name}}</ng-option>
    </ng-select>

  </div>
  <div class="col-md-2">
    <label> المبلغ الأدنى</label>
    <input type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
      class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtering.MinAmount"
      (ngModelChange)="allFilter()">

  </div>
  <div class="col-md-2">
    <label>المبلغ الأعلى</label>
    <input type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
      class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtering.MaxAmount"
      (ngModelChange)="allFilter()">

  </div>
  <div class="col-md-2">
    <label>الموظف</label>
    <ng-select [(ngModel)]="filtering.UserId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
    (ngModelChange)="allFilter()">
      <ng-option *ngFor="let user of UserService.users" [value]="user.id">{{user.name}}
      </ng-option>
    </ng-select>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label>من تاريخ</label>
    <input type="text" readonly class="form-control" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="filtering.FromDate" bsDatepicker [container]="'html'"
      [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }"
      (ngModelChange)="allFilter()">

  </div>
  <div class="col-md-2">
    <label>الى تاريخ</label>
    <input type="text" readonly class="form-control" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="filtering.ToDate" bsDatepicker [container]="'html'"
      [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }"
      (ngModelChange)="allFilter()">

  </div>
</div>
<br>

<!--
  <ejs-grid #normalgrid   id='normalgrid'  (load)='load()'  [allowPaging]='true'
  [gridLines]="lines" [pageSettings]='pageSettings' [toolbar]='toolbar'
    [editSettings]='editSettings'[dataSource]='incomes' rowHeight='38'
      [allowSorting]='true' height='400'
       [enableHover]='true' [selectionSettings]='selectionSettings'
        [filterSettings]='filterSettings' [allowSorting]='true'
         [allowFiltering]='true'>
   <e-columns>
       <e-column   field='id' textAlign="Center" [visible]='false' headerText='#' [filter]='filter' width='50' [isPrimaryKey]='true'></e-column>
       <e-column   field='amount' [allowEditing]='true' textAlign="Center" headerText="المبلغ الوارد" width='140'></e-column>
       <e-column   field='date' [allowEditing]='false' textAlign="Center" headerText="تاريخ الادخال" width='170'></e-column>
       <e-column   field='source' [allowEditing]='false' textAlign="Center" headerText="المصدر" width='140'></e-column>
       <e-column   field='earining' [allowEditing]='false' textAlign="Center" headerText="الربح" width='140'></e-column>
       <e-column   field='user' [allowEditing]='false' textAlign="Center" headerText="المستخدم" width='140'></e-column>
       <e-column   field='note' [allowEditing]='false' textAlign="Center" headerText="ملاحظات" width='170'></e-column>

   </e-columns>
</ejs-grid>-->

</div>
</div>
</div>

<div bsModal #addIncomModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-md modal-right " style="max-width: 90%;">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 *ngIf="addClicked" id="dialog-sizes-name1" class="modal-title pull-left">اضافة واردات</h4>
        <h4 *ngIf="editClicked" id="dialog-sizes-name1" class="modal-title pull-left">تعديل واردات</h4>

        <button type="button" class="close pull-right" (click)="addIncomModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size: 15px;">
        <app-add-in-come  (addFinish)="addFinish($event);addIncomModal.hide()" [addClicked]="addClicked"></app-add-in-come>
      </div>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>


<!--ggggggggggggggggggggggggggggggg-->


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;"
  (onPageSwitch)="switchPage($event)">
  <ng-container matColumnDef="incomeTypeId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> نوع الواردات</th>
    <td mat-cell *matCellDef="let element"> {{element.incomeTypeId}}</td>
  </ng-container>
  <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> المبلغ الوارد</th>
      <td mat-cell *matCellDef="let element"> {{element.amount}}</td>
  </ng-container>
  <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ الادخال</th>
      <td mat-cell *matCellDef="let element"> {{element.date}}</td>
  </ng-container>
  <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> المصدر</th>
      <td mat-cell *matCellDef="let element"> {{element.source}}</td>
  </ng-container>
  <ng-container matColumnDef="earining">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> الربح</th>
      <td mat-cell *matCellDef="let element"> {{element.earining}}</td>
  </ng-container>
 
  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ملاحظات</th>
    <td mat-cell *matCellDef="let element"> {{element.note}}</td>
</ng-container>
<ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> المستخدم</th>
    <td mat-cell *matCellDef="let element"> {{element.userId}}</td>
</ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<h2 style="margin: 10px;text-align: center;"> </h2>

<mat-paginator showFirstLastButtons [length]="totalCount" [pageSize]="paging.RowCount"
  [pageSizeOptions]="paging.selectItemsPerPage" (page)="switchPage($event)"></mat-paginator>

  <!--ggggggggggggggggggggggggggggggg-->