<div class="col-md-12 mb-4">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3 class="card-title">{{'menu.income' | translate}}</h3>
        <button class="btn  mb-3" (click)="addIncomModal.show();addNewClicked()"><i class="iconsminds-add  text-primary"
            style="font-size: 38px;"></i></button>
      </div>
      <button (click)="AddMoreOutcome()" class="btn btn-primary"> اضافة متعددة</button>
      <br><br>
      <h5 class="card-title">بحث على حسب : </h5>
      <div class="row">
        <div class="col-md-2">
          <label>نوع الواردات</label>
          <ng-select [(ngModel)]="filtering.Type" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
            (ngModelChange)="allFilter()">
            <ng-option *ngFor="let importType of importTypes" [value]="importType.id">{{importType.name}}
            </ng-option>
          </ng-select>
        </div>
        <div class="col-md-2">
          <label>العملة</label>
          <ng-select [(ngModel)]="filtering.CurrencyId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
            (ngModelChange)="allFilter()">
            <ng-option *ngFor="let coin of coins" [value]="coin.id">{{coin.name}}</ng-option>
          </ng-select>

        </div>
        <div class="col-md-2">
          <label> المبلغ الأدنى</label>
          <input type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtering.MinAmount"
            (ngModelChange)="allFilter()">

        </div>
        <div class="col-md-2">
          <label>المبلغ الأعلى</label>
          <input type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtering.MaxAmount"
            (ngModelChange)="allFilter()">

        </div>
        <div class="col-md-2">
          <label>الموظف</label>
          <ng-select [(ngModel)]="filtering.UserId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
            (ngModelChange)="allFilter()">
            <ng-option *ngFor="let user of UserService.users" [value]="user.id">{{user.name}}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label>من تاريخ</label>
          <input type="text" readonly class="form-control" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="filtering.FromDate" bsDatepicker [container]="'html'"
            [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }" (ngModelChange)="allFilter()">

        </div>
        <div class="col-md-2">
          <label>الى تاريخ</label>
          <input type="text" readonly class="form-control" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="filtering.ToDate" bsDatepicker [container]="'html'"
            [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }" (ngModelChange)="allFilter()">

        </div>
      </div>
      <br>


    </div>
  </div>
</div>

<div bsModal #addIncomModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-md modal-right " style="max-width: 90%;">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 *ngIf="addClicked" id="dialog-sizes-name1" class="modal-title pull-left">اضافة واردات</h4>
        <h4 *ngIf="!addClicked" id="dialog-sizes-name1" class="modal-title pull-left">تعديل واردات</h4>

        <button type="button" class="close pull-right" (click)="addIncomModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size: 15px;">
        <app-add-in-come  (addFinish)="addFinish($event);addIncomModal.hide()" [addClicked]="addClicked" [Income]="Income"></app-add-in-come>

      </div>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>



<div class="example-container mat-elevation-z8">


  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;"
    (onPageSwitch)="switchPage($event)">
    <ng-container matColumnDef="incomeType" style="padding: 10px;">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-right: 10px;"> نوع الواردات</th>
      <td mat-cell *matCellDef="let element" style="padding: 10px;">
        {{element.incomeType!=null?element.incomeType.name:null}}</td>
    </ng-container>
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 10px;"> العملة</th>
      <td mat-cell *matCellDef="let element" style="padding: 10px;">
        {{element.currency!=null?element.currency.name:null}}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 10px;"> المبلغ الوارد</th>
      <td mat-cell *matCellDef="let element" style="padding: 10px;"> {{element.amount}}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 10px;"> تاريخ الادخال</th>
      <td mat-cell *matCellDef="let element" style="padding: 10px;"> {{element.date}}</td>
    </ng-container>
    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 10px;"> المصدر</th>
      <td mat-cell *matCellDef="let element" style="padding: 10px;"> {{element.source}}</td>
    </ng-container>
    <ng-container matColumnDef="earining">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 10px;"> الربح</th>
      <td mat-cell *matCellDef="let element" style="padding: 10px;"> {{element.earining}}</td>
  </ng-container>
 
  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 10px;"> ملاحظات</th>
    <td mat-cell *matCellDef="let element" style="padding: 10px;"> {{element.note}}</td>
</ng-container>
<ng-container matColumnDef="createdBy">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 10px;"> تم الانشاء بواسطة</th>
    <td mat-cell *matCellDef="let element" style="padding: 10px;"> {{element.createdBy}}</td>
</ng-container>
<ng-container matColumnDef="Edit">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
  <td mat-cell *matCellDef="let element"> 
    <span class="btn btn-xs badge-primary mx-1" (click)="addIncomModal.show();onEditClicked(element)">{{'forms.edit' | translate}}</span>
  </td>
</ng-container>
<ng-container matColumnDef="Delete">
  <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 10px;"> حذف</th>
  <td mat-cell *matCellDef="let element;" style="padding: 10px;"><button class="btn btn-danger" (click)="delete(element)">حذف</button> </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  <h5 style="padding-top: 20px; padding-right: 10px;"  *ngIf="noDataFound">No records to display</h5>
  
  </div>
<mat-paginator showFirstLastButtons [length]="totalCount" [pageSize]="paging.RowCount"
  [pageSizeOptions]="paging.selectItemsPerPage" (page)="switchPage($event)"></mat-paginator>
