<simple-notifications></simple-notifications>

<div class="col-md-12 mb-4">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">{{'menu.setting.cities' | translate}}</h5>

      </div>
      <div class="row w-100 mb-3 align-items-end">
        <div class="col-3">
          <label>الاسم</label>
          <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="city.name">
        </div>
        <div class="col-3">
          <label>المدينة الوسيطة</label>
          <ng-select [(ngModel)]="city.mediatorId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true">
            <ng-option *ngFor="let citie of cities" [value]="citie.id">{{citie.name}}</ng-option>
          </ng-select>
        </div>
        <div class="col-3">
          <label>كلفة التوصيل</label>
          <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="city.deliveryCost"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '');">
        </div>
        <div class="col-3">
          <label>النقاط</label>
          <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="city.points"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '');">
          <!-- <ng-select [(ngModel)]="city.points" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true">
            <ng-option *ngFor="let PointSetting of PointSettings" [value]="PointSetting.points">{{PointSetting.points}}</ng-option>
          </ng-select> -->
        </div>
        <ng-container *ngFor="let item of city.regions;let i= index; trackBy: onTrackBy">
          <div class="col-2">
            <label>منقطة{{i+1}}
              <span (click)="deldetRegionFromCity(i)"><i class="text-danger iconsminds-close"
                  style="font-size: 18px;"></i></span>

            </label>

            <input type="text" class="form-control" [(ngModel)]="city.regions[i]">

          </div>
        </ng-container>
        <div class="col-2">
          <label>المناطق</label>
          <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="tempRegion">
        </div>
        <span class="btn" (click)="addRegionToCity()"><i class="text-primary simple-icon-plus"
            style="font-size: 24px;"></i></span>
        <span class="btn btn-primary mt-2 " (click)="addCity()">{{'forms.save'|translate}}</span>
      </div>
      <!-- <button (click)="Test()" >asdsad </button> -->
      <ejs-grid #normalgrid id='normalgrid' [enableRtl]='true' (load)='load()' [allowPaging]='true' [gridLines]="lines"
        [pageSettings]='pageSettings' [toolbar]='toolbar' [dataSource]='cities'[editSettings]='editSettings'
        rowHeight='38' [allowSorting]='true' height='400' [enableHover]='true' [selectionSettings]='selectionSettings'
        [filterSettings]='filterSettings' [allowSorting]='true' [allowFiltering]='true'(actionBegin)="onActionBegin($event)"
      (actionComplete)="actionComplete($event)">
        <!-- (actionComplete)="actionComplete($event)" -->
        <!-- (actionComplete)="actionComplete($event)" -->
        <e-columns>
          <e-column field='id' textAlign="Center" [visible]='false' headerText='#' [filter]='filter' width='50'
            [isPrimaryKey]='true'></e-column>
          <e-column field='name' textAlign="Center" headerText="الاسم" width='140'></e-column>
          <e-column field='mediator.name' textAlign="Center" headerText="المدينة الوسيطة" width='140'></e-column>
          <e-column field='deliveryCost' textAlign="Center" headerText="كلفة التوصيل" width='140' editType='numericedit'
            [edit]='numericParams'></e-column>
            <e-column field='points' textAlign="Center" headerText="النقاط" width='140' editType='numericedit'
            [edit]='numericParams'></e-column>
          <e-column field='regions' textAlign="Center" headerText="المناطق" width='140'>
            <ng-template #template let-data>
              <div class="d-flex justify-content-center text-center my-2">
                <div *ngFor="let reg of data.regions" class="my-1 text-center">
                  <span class="badge badge-light mx-1">{{reg.name}}</span>
                </div>
              </div>
            </ng-template>
          </e-column>
          <e-column field='edit' textAlign="Center" headerText="" width='140'>
            <ng-template #template let-data>
              <span class="btn-primary btn btn-xs" (click)="edit(data);addClientModal.show()">تعديل</span>
            </ng-template>
          </e-column>
          <e-column field='delete' textAlign="Center" headerText="" width='140'>
            <ng-template #template let-data>
              <span class="btn-primary btn btn-xs" (click)="delete(data);">حذف</span>
            </ng-template>
          </e-column>
          <!-- <e-column   field='regions' [allowEditing]='false' textAlign="Center" headerText="" width='140'>
            <ng-template  #template let-data>
              <div>
                    <span class="btn btn-xs badge-primary mx-1" (click)="setCueerntCity(data)">{{'forms.edit' | translate}}</span>
            </div>
          </ng-template>
          </e-column> -->
        </e-columns>
      </ejs-grid>
    </div>
  </div>
</div>
<div bsModal #addClientModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="dialog-sizes-name1">
<div class="modal-dialog modal-md modal-right " style="max-width: 90%;">
  <div class="modal-content modal-lg">
    <div class="modal-header">
      <h4  id="dialog-sizes-name1" class="modal-title pull-left">تعديل مدينة</h4>

      <button type="button" class="close pull-right" (click)="addClientModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body " style="font-size: 15px;">
      <div class="row">
        <div class="col-3">
          <label>الاسم</label>
          <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="editCity.name">
        </div>
        <div class="col-3">
          <label>المدينة الوسيطة</label>
          <ng-select [(ngModel)]="editCity.mediatorId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true">
            <ng-option *ngFor="let citie of cities" [value]="citie.id">{{citie.name}}</ng-option>
          </ng-select>
        </div>
        <div class="col-3">
          <label>كلفة التوصيل</label>
          <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="editCity.deliveryCost"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '');">
        </div>
        <div class="col-3">
          <label>النقاط</label>
          <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="editCity.points"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '');">
          <!-- <ng-select [(ngModel)]="city.points" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true">
            <ng-option *ngFor="let PointSetting of PointSettings" [value]="PointSetting.points">{{PointSetting.points}}</ng-option>
          </ng-select> -->
        </div>
        <div class="col-12" *ngIf="editCity.regions.length!=0">
          <br>
          <label>المناطق</label>
          <br>
          <ng-container *ngFor="let item of editCity.regions">
        
            <span class="badge badge-light mx-1">{{item.name}}</span>
        
      </ng-container>
        </div>
       
        <div class="col-3">
          <span class="btn btn-primary mt-2 " (click)="save();addClientModal.hide()">{{'forms.save'|translate}}</span>
        </div>
      </div>
    
    </div>
    </div>
  </div>
</div>
