.Holisticrebound{
    //مرتجع كلي
    background-color: rgba(255, 2, 2, 0.829);
}
.Partialrefund{
    //مرتجع جزئي
    background-color: rgba(175, 175, 175, 0.829);
}
.delay{
    // مؤجل
    background-color: rgba(38, 185, 2, 0.829);

}
.unacceptable{
    // مرفوض
    background-color: rgba(1, 15, 214, 0.829);

}
.Delivery{
    // تم التسليم
    background-color: rgba(60, 197, 6, 0.829);

}
.default{
    background-color: rgb(255, 255, 255);

}