<div class="col-md-12 mb-4">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3 class="card-title">{{'menu.clients' | translate}}</h3>
      <button class="btn  mb-3" (click)="addClientModal.show();addNewClicked()"><i class="iconsminds-add  text-primary" style="font-size: 38px;"></i></button>
</div>

  <ejs-grid #normalgrid   id='normalgrid'  (load)='load()'  [allowPaging]='true'
  [gridLines]="lines" [pageSettings]='pageSettings' [toolbar]='toolbar'
    [editSettings]='editSettings'[dataSource]='clients' rowHeight='38'
      [allowSorting]='true' height='400'(actionComplete)="actionComplete($event)"
       [enableHover]='true' [selectionSettings]='selectionSettings'
        [filterSettings]='filterSettings' [allowSorting]='true'
         [allowFiltering]='true'>
   <e-columns>
       <e-column   field='id' textAlign="Center" [visible]='false' headerText='#' [filter]='filter' width='50' [isPrimaryKey]='true'></e-column>
       <e-column   field='name' [allowEditing]='true' textAlign="Center" headerText="{{'client.name' | translate}}" width='130'></e-column>
       <e-column   field='userName' [allowEditing]='false' textAlign="Center" headerText="{{'client.user-name' | translate}}" width='170'></e-column>
       <e-column   field='firstDate' [allowEditing]='false' textAlign="Center" headerText="{{'client.first-date' | translate}}"  [format]="{type: 'date', yMd: 'short'}" width='160'></e-column>
       <e-column   field='address' [allowEditing]='false' textAlign="Center" headerText="{{'client.adderss' | translate}}" width='130'></e-column>
       <e-column   field='country.name' [allowEditing]='false' textAlign="Center" headerText="المدينة" width='130'></e-column>
       <e-column   field='total' [allowEditing]='false' textAlign="Center" headerText="حساب العميل" width='170'></e-column>
       <e-column   field='mail' [allowEditing]='false' textAlign="Center" headerText="الايميل" width='140'></e-column>
       <e-column   field='note' [allowEditing]='false' textAlign="Center" headerText="{{'client.note' | translate}}" width='140'></e-column>
       <e-column    [allowEditing]='false' textAlign="Center" headerText="" width='140'>
        <ng-template  #template let-data>
          <div>
                <span class="btn btn-xs badge-primary mx-1" (click)="onEditClicked(data.id)">{{'forms.edit' | translate}}</span>
                <!-- Button trigger modal -->
<button type="button"class="btn btn-xs badge-primary mx-1"
 (click)="getClient(data)">
  صرف
</button>


        </div>
      </ng-template>
      </e-column>
   </e-columns>
</ejs-grid>

</div>
</div>
</div>
<!-- Modal 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">مبلغ العميل </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>المبلغ</label>
        <input  type="text" class="form-control"[(ngModel)]="cost"
        [ngModelOptions]="{standalone: true}"
        oninput="this.value = this.value.replace(/[^a-zA-Z_0-9-]/g, '').replace(/(\..*)\./g, '$1');"  
        >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="printcatch()">قبض</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="printpay()">صرف</button>
      </div>
    </div>
  </div>
</div>-->
<div bsModal #addClientModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-md modal-right " style="max-width: 90%;">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 *ngIf="addClicked" id="dialog-sizes-name1" class="modal-title pull-left">اضافة عميل</h4>
        <h4 *ngIf="editClicked" id="dialog-sizes-name1" class="modal-title pull-left">تعديل عميل</h4>

        <button type="button" class="close pull-right" (click)="addClientModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size: 15px;">
        <app-add-client (addFinish)="addFinish($event);addClientModal.hide()" [addClicked]="addClicked"
          [editClicked]="editClicked" [currentClientId]="currentClientId"></app-add-client>
      </div>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>
