<div class="col-md-12">
  <form (ngSubmit)="addOrEditClient()" class="row">
    <div class="row w-100 align-items-end mb-3">
      <div class="col-md-3">
        <label>{{'client.name' | translate}}</label><span class="text-danger text-one align-bottom mx-1">*</span>
        <input (keyup)='checkName()' type="text" class="form-control" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="client.name">
        <div *ngIf="!client.name && submitted" class="invalid-tooltip">الاسم حقل مطلوب</div>
        <div *ngIf="nameIsRepeated&&client.name!=''" class="invalid-tooltip">الأسم مكرر</div>
      </div>
      <div class="col-md-3">
        <label>{{'client.user-name' | translate}}
          <span class="text-danger text-one align-bottom mx-1">*</span>
        </label>


        <input (keyup)='checkUserName()' type="text" class="form-control" [ngModelOptions]="{standalone: true}"
          oninput="this.value = this.value.replace(/[^a-zA-Z_0-9-]/g, '').replace(/(\..*)\./g, '$1');"
          [(ngModel)]="client.userName">
        <div *ngIf="!client.userName && submitted" class="invalid-tooltip">اسم المستخدم حقل مطلوب</div>
        <div *ngIf="usernameIsRepeated&&client.userName!=''" class="invalid-tooltip">اسم المستخدم مكرر</div>
      </div>
      <div class="col-md-3">
        <label>{{'client.password' | translate}}
          <span class="text-danger text-one align-bottom mx-1">*</span>
        </label>
        <input type="password" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="client.password">
        <div *ngIf="!client.password && submitted" class="invalid-tooltip">كلمة السر حقل مطلوب</div>

      </div>
      <div class="col-md-3">
        <label>تأكيد كلمة السر
          <span class="text-danger text-one align-bottom mx-1">*</span>
        </label>

        <input (keyup)="CheckPassword()" type="password" class="form-control" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="confirmpassword">
        <div *ngIf="checkPassword" class="invalid-tooltip">كلمة السر غير متطابقة</div>
        <div *ngIf="!client.password && submitted" class="invalid-tooltip">تأكيد كلمة السر حقل مطلوب</div>
      </div>
      <div class="col-md-3">
        <label>{{'client.first-date' | translate}}
          <span class="text-danger text-one align-bottom mx-1">*</span>
        </label>
        <input type="text" readonly class="form-control" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="client.firstDate" bsDatepicker [container]="'html'"
          [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }">
        <div *ngIf="!client.firstDate && submitted" class="invalid-tooltip"> تاريخ الإنضمام حقل مطلوب</div>
      </div>
      <div class="col-md-3">
        <label>المدينة</label>
        <ng-select [(ngModel)]="client.Countryid" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true">
          <ng-option *ngFor="let citie of cities" [value]="citie.id">{{citie.name}}</ng-option>
        </ng-select>
      </div>
      <div class="col-md-3">
        <label>{{'client.address' | translate}}</label>
        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="client.address">
      </div>


      <div class="col-md-3">
        <label>{{'client.note' | translate}}</label>
        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="client.note">
      </div>
      <div *ngFor="let phone of client.phones;let i=index" class="col-md-3">
        <ng-container>
          <label>{{'client.phone' | translate}}-{{i+1}}</label>
          <input type="text" maxlength="11"
            oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" class="form-control"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="client.phones[i]"
            (ngModelChange)="checkLengthPhoneNumberForEdit(client.phones[i])">
          <div class="invalid-tooltip" *ngIf="client.phones[i]&& checkLengthPhoneNumberForEdit(client.phones[i])">
            {{RecipientPhoneslengthEdit}}
          </div>
        </ng-container>

      </div>
      <div class="col-md-3">
        <label>{{'client.phone' | translate}} <span class="text-danger text-one align-bottom mx-1">*</span></label>
        <input type="text" maxlength="11"
          oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" class="form-control"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="tempPhone"
          (ngModelChange)="checkLengthPhoneNumber(tempPhone)">
        <div class="invalid-tooltip" *ngIf="tempPhone&& checkLengthPhoneNumber(tempPhone)">
          {{RecipientPhoneslength}}
        </div>
        <div *ngIf="!tempPhone&&client.phones.length==0&& submitted" class="invalid-tooltip">رقم الهاتف حقل مطلوب</div>

      </div>

      <div class="col-2">
        <button type="button" class="btn" (click)="addNewPhone()"><i class="iconsminds-add  text-primary"
            style="font-size: 22px;"></i></button>
      </div>

    </div>
    <div class="row w-100">
      <div class="col-3">
        <button type="submit" class="btn btn-primary"> {{'forms.save' | translate}}</button>
      </div>
    </div>
  </form>
</div>
<simple-notifications></simple-notifications>