<div class="card">
    <div class="card-body">
      <h3>خصك وإعطاء النقاط </h3>
      <div class="row">
        <div class="col-md-3">
          <label>العميل</label>
          <ng-select [(ngModel)]="GiveOrDiscountPointsDto.ClientId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true" name="Client"
           >
            <ng-option *ngFor="let Client of clients" [value]="Client.id">{{Client.name}}</ng-option>
          </ng-select>
          <br>
        </div>
      <div class="col-md-3">
        <!-- <mat-checkbox class="example-margin" [(ngModel)]="GiveOrDiscountPointsDto.IsGive" >&nbsp; خصم</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="GiveOrDiscountPointsDto.IsGive" >&nbsp; إعطاء</mat-checkbox> -->
        <label>خصم\إعطاء</label>

        <ng-select [(ngModel)]="GiveOrDiscountPointsDto.IsGive" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"  >
         <ng-option [value]="false">خصم</ng-option>
         <ng-option [value]="true">إعطاء</ng-option>

       </ng-select>
      </div>
         
      
        <div class="col-md-3">
            <label>النقاط</label>
          <input type="text" class="form-control"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..-*)\./g, '$1');"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="GiveOrDiscountPointsDto.Points">
        </div>
      
        <div class="col-md-3" style="padding-top:15px;">
          <button (click)="GiveOrDiscountPoints()" class="btn  btn-primary"> 
            &nbsp;ارسال   
          </button>
      
        </div>
      </div>
    </div>
  </div>
 