<div class="card">
  <div class="card-body">
    <div class="card">
      <div class="card-body">
        <h3>آراء العملاء</h3>

        <div class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="logo">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="padding-right: 10px"
              ></th>
              <td
                mat-cell
                *matCellDef="let element"
                style="padding-right: 10px"
              >
                <img [src]="element.logo" />
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                اسم المرسل
              </th>
              <td mat-cell *matCellDef="let element" style="padding: 10px">
                {{ element.name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="message">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>الرسالة</th>
              <td mat-cell *matCellDef="let element" style="padding: 10px">
                {{ element.message }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Accept">
              <th mat-header-cell *matHeaderCellDef>خيارات</th>
              <td mat-cell *matCellDef="let element; index as i">
                <span
                  class="btn btn-xs badge-primary"
                  (click)="Accept(element.id)"
                  >نشر</span
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="DisAccept">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; index as i">
                <span
                  class="btn btn-xs badge-primary"
                  (click)="DisAccept(element.id)"
                  >عدم النشر</span
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; index as i">
                <span
                  class="btn btn-xs badge-primary"
                  (click)="delete(element.id)"
                  >حذف</span
                >
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <h5
            style="padding-top: 20px; padding-right: 10px"
            *ngIf="noDataFound"
          >
            لايوجد بيانات للعرض
          </h5>
        </div>
      </div>
    </div>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
    <simple-notifications></simple-notifications>
  </div>
</div>
