<div class="card">
    <div class="card-body">
        <h3>الشحنات المرفوضة من قبل الفرع</h3>
    </div>
</div>
<div class="example-container mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> ترقيم </th>
            <td mat-cell *matCellDef="let element;index as i"> {{i+1}}</td>
        </ng-container>
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> كود </th>
            <td mat-cell *matCellDef="let element"> {{element.code}}</td>
        </ng-container>
        <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef> العميل </th>
            <td mat-cell *matCellDef="let element"> {{element.client?.name}}</td>
        </ng-container>
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> المدينة </th>
            <td mat-cell *matCellDef="let element"> {{element.country?.name}}</td>
        </ng-container>
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
    </table>
    <h5 style="padding-top: 20px; padding-right: 10px;" *ngIf="noDataFound">لايوجد بيانات للعرض</h5>

</div>

<mat-paginator showFirstLastButtons [length]="totalCount" [pageSize]="paging.RowCount"
    [pageSizeOptions]="paging.selectItemsPerPage" (page)="switchPage($event)"></mat-paginator>
<simple-notifications></simple-notifications>