
<div class="card">
    <div class="card-body">

    
        
<div class="card">
    <div class="card-body">
        <h3>طلبات تعديل العملاء  </h3>
  
    </div>
    </div>
        <div class="example-container mat-elevation-z8">
            
            <table mat-table [dataSource]="dataSource" matSort>
  
                <ng-container matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding:10px;">  العميل</th>
                    <td mat-cell *matCellDef="let element" style="padding:10px;">
                        {{element.client!=null?element.client.name:null}}</td>
                </ng-container>
                <ng-container matColumnDef="oldName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-right: 10px;"> الاسم القديم </th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 10px;"> {{element.oldName}}</td>
                </ng-container>
               
                <ng-container matColumnDef="newName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> الاسم الجديد</th>
                    <td mat-cell *matCellDef="let element" style="padding:10px;"> {{element.newName}}</td>
                </ng-container>
                <ng-container matColumnDef="oldUserName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> اسم المستخدم القديم</th>
                    <td mat-cell *matCellDef="let element" style="padding:10px;"> {{element.oldUserName}}</td>
                </ng-container>


                <ng-container matColumnDef="newUserName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30px;"> اسم المستخدم الجديد </th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;padding:10px;">
                        {{element.newUserName}}</td>
                </ng-container>
             
                    
            
               
                <ng-container matColumnDef="Accept">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element;index as i" >
                        <span class="btn btn-xs badge-primary "(click)="Accpet(element)" >تأكيد</span> 
                       
               
                    </td>
                </ng-container>
                <ng-container matColumnDef="DisAccept">
                    <th mat-header-cell *matHeaderCellDef > </th>
                    <td mat-cell *matCellDef="let element" >
                        <span class="btn btn-xs badge-primary " (click)="DisAccpet(element.id)">رفض</span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


            <h5 style="padding-top: 20px; padding-right: 10px;" *ngIf="noDataFound">  لايوجد بيانات للعرض</h5>

        </div>
    </div>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
<simple-notifications></simple-notifications>
