<simple-notifications></simple-notifications>

<div class="col-md-12 mb-4">
    <h3>المدينة الرئيسية</h3>
    <div class="card">
        <div class="card-body">
            <div class="row w-100 align-items-end mb-3">
                <div class="col-md-3">
                    <label>المدينة</label>
                    <ng-select appOnReturn [(ngModel)]="CountryId" [ngModelOptions]="{standalone: true}"
                        [closeOnSelect]="true" name="Country">
                        <ng-option *ngFor="let citie of cities" [value]="citie.id">{{citie.name}}</ng-option>
                    </ng-select>

                </div>
                <div class="col-md-3">
                    <button (click)="save()" class="btn btn-primary"> حفظ</button>
                </div>
            </div>
        </div>
    </div>
</div>