
<div class="card">
    <div class="card-body">
        <h2>طلبات دفع العملاء</h2>
        <div class="example-container mat-elevation-z8">
            
            <table mat-table [dataSource]="dataSource" matSort>
  
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-right: 10px;"> طريقة الدفع </th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 10px;"> {{element.paymentWay.name}}</td>
                </ng-container>
               
                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ملاحظات </th>
                    <td mat-cell *matCellDef="let element" style="padding:10px;"> {{element.note}}</td>
                </ng-container>
                
                <ng-container matColumnDef="Accept">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element;index as i" >
                        <span class="btn btn-xs badge-primary "(click)="Accept(element.id)" >تأكيد</span> 
                      
                    </td>
                </ng-container>
                <ng-container matColumnDef="DisAccept">
                    <th mat-header-cell *matHeaderCellDef > </th>
                    <td mat-cell *matCellDef="let element" >
                        <span class="btn btn-xs badge-primary " (click)="DisAccept(element.id)">رفض</span>
                    </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
  
  
            <h5 style="padding-top: 20px; padding-right: 10px;" *ngIf="payments.length==0">  لايوجد بيانات للعرض</h5>
  
        </div>
    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>