@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Tajawal:wght@300&display=swap");
.treasury-card {
  text-align: center;
  color: #fff;
  font-family: "Asap Condensed", sans-serif;
  font-family: "Tajawal", sans-serif;
}
.card {
  border-radius: 7px !important;
}
.text-amount {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.bg1 {
  background-color: rgb(9, 189, 120);
}
.bg2 {
  background-color: rgb(214, 60, 60);
}
.bg3 {
  background-color: rgb(255, 170, 0);
}
.bg4 {
  background-color: rgb(5, 153, 179);
}
.bg5 {
  background-color: rgb(105, 1, 90);
}
.bg6 {
  background-color: rgb(109, 5, 179);
}
