.car {
  width: 1000px;
  height: 700px;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  text-align: center;
  margin-top: 0;
}
.bgimg {
  background-image: url(/assets/img/landing-page/truck.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes example {
  from {
    right: 0%;
    top: 0%;
  }

  to {
    right: 75%;
    top: 0%;
  }
}
.flowtext {
  margin-top: 40%;
  margin-right: 45%;
}
input{
  border-radius: 20px;
}
.carback {
  width: 1000px;
  height: 700px;
  position: relative;
  animation-name: back;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  text-align: center;
  margin-top: 0;
}
@keyframes back {
  from {
    left:80%;
    top: 0%;
  }

  to {
    left:0%;
    top: 0%;
  }
}