.car {
  width: 1000px;
  height: 700px;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  text-align: center;
}
.bgimg {
  background-image: url(/assets/img/landing-page/truck.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
@keyframes example {
  from {
    right: 0%;
    top: 0px;
  }

  to {
    right: 75%;
    top: 0px;
  }
}
.flowtext {
  margin-top: 45%;
  margin-right: 40%;
}
