.car {
  
  width: 1000px;
  height: 700px;
  position: relative;
  animation-name: example;
  animation-duration: 1.5s;
  animation-direction: alternate-reverse;
  text-align: center;
  margin-top: 0;
}
.bgimg {
  background-image: url(/assets/img/landing-page/truck.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@keyframes example {
  from {
    right: 0%;
    top: 0%;
  }

  to {
    right: 75%;
    top: 0%;
  }
}
.flowtext {
  margin-top: 30%;
  margin-right:55%;
}
input{
  border-radius: 20px;
}
.carback {
  
  width: 1000px;
  height: 700px;
  position: relative;
  animation-name: back;
  animation-duration: 1.5s;
  animation-direction: alternate-reverse;
  text-align: center;
  margin-top: 0;
}
@keyframes back {
  from {
    left:80%;
    top: 0%;
  }

  to {
    left:0%;
    top: 0%;
  }
}
.redc{
color: rgb(216, 3, 3);
}
.defult{
  color: rgb(23, 78, 151);
}
.bghome{
  background-image: url(/assets/img/landing-page/city.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.sizeCar{
  .col-md-12{
    width: 700px;
    height: 600px;
  }
  .col-lg-12{
    width: 1000px;
    height: 700px;
  }
  .col-12{
    width: 500px;
    height: 500px;
  }
}
.mg{
  .col-6{
    margin-right: 20%;
  }
  .col-md-2{
    margin-right: 40%;
  }
}
.arrow{
  background-image: url(/assets/img/landing-page/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
}