<form (ngSubmit)="AddStore()">

    <div class="card">
        <div class="card-body">
            <h2 class="card-title" style="color: rgb(0, 49, 112);"> اضافة متجر</h2>
            <div class="row w-100 align-items-end mb-3">
                <div class="col-md-3">
                    <label>اسم المتجر <span class="text-danger text-one align-bottom mx-1">*</span></label>
                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                    oninput="this.value = this.value.replace(/[^0-9.A-Za-z]/g, '').replace(/(\..*)\./g, '$1');"
                    [(ngModel)]="Store.Name"  >
                    <div *ngIf="!Store.Name && submitted" class="invalid-tooltip">اسم المتجر</div>

                </div>
                <div class="col-md-3">
                    <label>العميل<span class="text-danger text-one align-bottom mx-1">*</span></label>
                    <ng-select  [(ngModel)]="Store.ClientId"  [ngModelOptions]="{standalone: true}"
                        [closeOnSelect]="true" name="Client">
                        <ng-option *ngFor="let Client of clients" [value]="Client.id">{{Client.name}}</ng-option>
                    </ng-select>
                    <div *ngIf="!Store.ClientId && submitted" class="invalid-tooltip">العميل حقل مطلوب</div>

                </div>
                <div class="col-md-3">
                    <label>رابط المتجر  <span class="text-danger text-one align-bottom mx-1">*</span></label>
                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                    oninput="this.value = this.value.replace(/[^0-9.A-Za-z]/g, '').replace(/(\..*)\./g, '$1');"
                    [(ngModel)]="Store.MarketUrl"  >
                    <div *ngIf="!Store.MarketUrl && submitted" class="invalid-tooltip">كود الشحنة حقل مطلوب</div>

                </div>
                <div class="col-md-3">
                    <label> صورة  <span class="text-danger text-one align-bottom mx-1">*</span></label>
                    <input type="file" class="form-control" [ngModelOptions]="{standalone: true}"
                    oninput="this.value = this.value.replace(/[^0-9.A-Za-z]/g, '').replace(/(\..*)\./g, '$1');"
                    [(ngModel)]="Store.Logo"  >
                    <div *ngIf="!Store.Logo && submitted" class="invalid-tooltip">كود الشحنة حقل مطلوب</div>

                </div>
                <div class="col-md-12">
                    <label> وصف  <span class="text-danger text-one align-bottom mx-1">*</span></label>
                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                    oninput="this.value = this.value.replace(/[^0-9.A-Za-z]/g, '').replace(/(\..*)\./g, '$1');"
                    [(ngModel)]="Store.Description"  >
                    <div *ngIf="!Store.Description && submitted" class="invalid-tooltip">كود الشحنة حقل مطلوب</div>

                </div>
            </div>
        </div>
    </div>
</form>