<div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="stat-card">
        <div class="stat-card__content">
          <p class="text-uppercase mb-1 text-muted"></p>
         <h2></h2><span class="text-success font-weight-bold mr-1"> <i class="fa fa-arrow-up"></i></span>
          <div>
           
            <span class="text-muted">عدد الطلبيات </span>
          </div>
        </div>
        <div class="stat-card__icon stat-card__icon--danger">
          <div class="stat-card__icon-circle">
            <i class="fa fa-suitcase"></i>
          </div>
        </div>
      </div>
    </div>
   
    <div class="col-sm-6 col-md-3">
      <div class="stat-card">
        <div class="stat-card__content">
          <p class="text-uppercase mb-1 text-muted"></p>
         <h2> </h2><span class="text-success font-weight-bold mr-1"> <i class="fa fa-arrow-up"></i></span>
          <div>
           
            <span class="text-muted">عدد الطلبيات في المخزن </span>
           
  
          </div>
        </div>
        <div class="stat-card__icon stat-card__icon--primary">
          <div class="stat-card__icon-circle">
            <i class="fa fa-suitcase"></i>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-3">
      <div class="stat-card">
        <div class="stat-card__content">
          <p class="text-uppercase mb-1 text-muted"></p>
         <h2></h2>
         <span class="text-success font-weight-bold mr-1"> <i class="fa fa-arrow-up"></i></span>
          <div>
           
            <span class="text-muted">عدد الطلبيات خارج المخزن</span>
          </div>
        </div>
        <div class="stat-card__icon stat-card__icon--success">
          <div class="stat-card__icon-circle">
            <i class="fa fa-suitcase"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 ">
      <div class="stat-card">
        <div class="stat-card__content">
          <p class="text-uppercase mb-1 text-muted"></p>
         <h2> </h2>
         <span class="text-success font-weight-bold mr-1"> <i class="fa fa-arrow-up"></i></span>
          <div>
           
            <span class="text-muted"> عدد الطلبيات تم توصيلها</span>
          </div>
        </div>
        <div class="stat-card__icon stat-card__icon--warning">
          <div class="stat-card__icon-circle">
            <i class="fa fa-suitcase"></i>
          </div>
        </div>
      </div>
    </div>
 
  </div>