<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-4">
          <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="payment.name">
        </div>
        <!-- <div class="col-12 col-md-8">
          <textarea name="ClientNote" [(ngModel)]="createPayment.Note" style="width: 100%;" name="textarea-input" rows="2"
            class="form-control" placeholder="ملاحظات"></textarea>
        </div> -->
        <div class="col-12 col-md-2" style="text-align: center;">
          <br>
          <button class="btn btn-primary" (click)="AddPayment()" >اضافة</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card table-responsive-lg">
    <table class="table table-striped text-center">
  <thead>
    <th>طريقة الدفع</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let payment of payments">
      <td>{{payment.name}}</td>
      <td>
        <button class="btn btn-primary"  >قبول</button>
      </td>
    </tr>
    <tr *ngIf="payments.length==0">
      <td colspan="2">لا يوجد عناصر </td>
    </tr>
  </tbody>
    </table>
  </div>
  <simple-notifications></simple-notifications>
