
<div class="row">
  <div class="col-12">
    <!-- <app-heading></app-heading>
      <app-breadcrumb></app-breadcrumb> -->
    <div class="separator mb-5"></div>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4 text-center">
    <h1>الإحصائيات</h1>

  </div>
</div>



<div class="row">
  <div class="col-12 mb-4 text-center">
    <div class="row my-4">
      <div class="col-md-4">
        <div class="card shadow mb-4">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <small class="text-muted mb-1">عدد العملاء</small>
                <h3 class="card-title mb-0">{{MainStatics.totalClient}}</h3>
                <small class="text-muted mb-1">عدد الطلبيات تم توصيلها</small>
                <h3 class="card-title mb-0">{{MainStatics.totalOrderDiliverd}}</h3>
              </div>
              <div class="col-4 text-right">
                <span class="sparkline inlineline"></span>
              </div>
            </div> <!-- /. row -->
          </div> <!-- /. card-body -->
        </div> <!-- /. card -->
      </div> <!-- /. col -->
      <div class="col-md-4">
        <div class="card shadow mb-4">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <small class="text-muted mb-1">عدد المندوبين </small>
                <h3 class="card-title mb-0">{{MainStatics.totalAgent}}</h3>
                <small class="text-muted mb-1">عدد الطلبيات في المخزن </small>
                <h3 class="card-title mb-0">{{MainStatics.totalOrderInSotre}}</h3>
              </div>
              <div class="col-4 text-right">
                <span class="sparkline inlinepie"></span>
              </div>
            </div> <!-- /. row -->
          </div> <!-- /. card-body -->
        </div> <!-- /. card -->
      </div> <!-- /. col -->
      <div class="col-md-4">
        <div class="card shadow mb-4">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <small class="text-muted mb-1">عدد الطلبيات</small>
                <h3 class="card-title mb-0">{{MainStatics.totlaOrder}}</h3>
                <small class="text-muted mb-1">عدد الطلبيات خارج المخزن</small>
                <h3 class="card-title mb-0">{{MainStatics.totalOrderOutStore}}</h3>
              </div>
              <div class="col-4 text-right">
                <span class="sparkline inlinebar"></span>
              </div>
            </div> <!-- /. row -->
          </div> <!-- /. card-body -->
        </div> <!-- /. card -->
      </div> <!-- /. col -->
    </div> 

  </div>
</div>