<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale-party" [fullScreen]="true">
  <p style="color: white"> </p>
</ngx-spinner>
<div class="row">
  <div class="col-12">
    <!-- <app-heading></app-heading>
      <app-breadcrumb></app-breadcrumb> 
    
    `<ejs-accumulationchart id="chart-container"  >
  <e-accumulation-series-collection>
      <e-accumulation-series [dataSource]='piedata' xName='x' yName='y' [dataLabel]='datalabel' radius="70%"></e-accumulation-series>
  </e-accumulation-series-collection>
</ejs-accumulationchart>
    <div class="separator mb-5"></div>-->
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4 text-center">
    <h1></h1>

  </div>
</div>


<!--
  <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width' id='chartcontainer'
  [primaryXAxis]='primaryXAxis' (load)='load($event)' [primaryYAxis]='primaryYAxis' [title]='title' [tooltip]='tooltip'>
  <e-series-collection>
    <e-series [dataSource]='data' type='StackingColumn' xName='x' yName='y' name='المندوبين' width='3'> </e-series>
    <e-series [dataSource]='data' type='StackingColumn' xName='x' yName='y1' name='العملاء' width='2'> </e-series>
    <e-series [dataSource]='data' type='StackingColumn' xName='x' yName='y2' name='شحنات تم توصيلها' width='4'>
    </e-series>
    <e-series [dataSource]='data' type='StackingColumn' xName='x' yName='y3' name='شحنات في المخزن' width='4'>
    </e-series>
    <e-series [dataSource]='data' type='StackingColumn' xName='x' yName='y4' name='شحنات خارج المخزن' width='4'>
    </e-series>
    <e-series [dataSource]='data' type='StackingColumn' xName='x' yName='y5' name='الشحنات' width='2'> </e-series>

  </e-series-collection>
</ejs-chart>

<div class="row">
  <div class="col-12 mb-4 ">
    <div class="row my-4">
      <div class="col-md-4">
        <div class="card shadow mb-4">
          <div class="card-body">
            <div class="row">

              <div class="col-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                  <path
                    d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z" />

                </svg>&nbsp;
                <small class="text-muted mb-1">عدد العملاء</small>

              </div>
              <div class="col-1"></div>
              <div class="col-4">
                <strong>+{{MainStatics.totalClient}}
                </strong>
                 <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                  [value]="MainStatics.totalClient" [bufferValue]="70">
                </mat-progress-bar>
              </div>
            </div>  /. row 
            <hr width="100%" style="color: grey;">
            <div class="row">

              <div class="col-6">
                <svg xmlns="http://www.w3.org/2000/svg" style="color: rgb(53, 124, 210);" width="16" height="16"
                  fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                  <path
                    d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z" />

                </svg>&nbsp;
                <small class="text-muted mb-1">عدد الطلبيات تم توصيلها</small>

              </div>
              <div class="col-1"></div>
              <div class="col-4">
                <strong>+{{MainStatics.totalOrderDiliverd}}</strong>
                 <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                  [value]="MainStatics.totalOrderDiliverd" [bufferValue]="70">
                </mat-progress-bar>
              </div>
            </div> 




          </div> 
        </div> 
      </div> 
      <div class="col-md-4">
        <div class="card shadow mb-4">
          <div class="card-body">
            <div class="row">

              <div class="col-6">
                <svg xmlns="http://www.w3.org/2000/svg" style="color: rgb(0, 189, 174);" width="16" height="16"
                  fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                  <path
                    d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z" />

                </svg>&nbsp;
                <small class="text-muted mb-1">عدد المندوبين </small>
              </div>
              <div class="col-1"></div>
              <div class="col-4">
                <strong>+{{MainStatics.totalAgent}}
                </strong>
                 <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                  [value]="MainStatics.totalAgent" [bufferValue]="70">
                </mat-progress-bar>
              </div>
            </div>
            <hr width="100%" style="color: grey;">
            <div class="row">

              <div class="col-6">
                <svg xmlns="http://www.w3.org/2000/svg" style="color: rgb(229, 101, 144);;" width="16" height="16"
                  fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                  <path
                    d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z" />

                </svg>&nbsp;
                <small class="text-muted mb-1">عدد الطلبيات في المخزن </small>

              </div>
              <div class="col-1"></div>
              <div class="col-4">
                <strong>+{{MainStatics.totalOrderInSotre}}</strong>
                 <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                  [value]="MainStatics.totalOrderInSotre" [bufferValue]="70">
                </mat-progress-bar>
              </div>
            </div> 




          </div>
        </div> 
      </div> 
      <div class="col-md-4">
        <div class="card shadow mb-4">
          <div class="card-body">
            <div class="row">

              <div class="col-6">
                <svg xmlns="http://www.w3.org/2000/svg" style="color: rgb(112, 173, 71);" width="16" height="16"
                  fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                  <path
                    d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z" />

                </svg>&nbsp;
                <small class="text-muted mb-1">عدد الطلبيات</small>

              </div>
              <div class="col-1"></div>
              <div class="col-4">
                <strong>+{{MainStatics.totlaOrder}}
                </strong>
                 <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                  [value]="MainStatics.totlaOrder" [bufferValue]="70">
                </mat-progress-bar>
              </div>
            </div> 
            <hr width="100%" style="color: grey;">
            <div class="row">

              <div class="col-6">
                <svg xmlns="http://www.w3.org/2000/svg" style="color: rgb(248, 184, 131);" width="16" height="16"
                  fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                  <path
                    d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z" />

                </svg>&nbsp;
                <small class="text-muted mb-1">عدد الطلبيات خارج المخزن</small>

              </div>
              <div class="col-1"></div>
              <div class="col-4">
                <strong>+{{MainStatics.totalOrderOutStore}}

                </strong>

                <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                  [value]="MainStatics.totalOrderOutStore" [bufferValue]="70">
                </mat-progress-bar>
              </div>
            </div>




          </div> 
        </div> 
      </div>
    </div>

  </div>
</div>
-->





<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="stat-card">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> {{MainStatics.totlaOrder}}</h2><span class="text-success font-weight-bold mr-1"> <i
            class="fa fa-arrow-up"></i></span>
        <div>

          <span class="text-muted">عدد الطلبيات </span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--danger">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="stat-card">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> {{MainStatics.totalOrderInSotre}}</h2><span class="text-success font-weight-bold mr-1"> <i
            class="fa fa-arrow-up"></i></span>
        <div>

          <span class="text-muted">عدد الطلبيات في المخزن </span>


        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--primary">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="stat-card">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2>{{MainStatics.totalOrderOutStore}}</h2>
        <span class="text-success font-weight-bold mr-1"> <i class="fa fa-arrow-up"></i></span>
        <div>

          <span class="text-muted">عدد الطلبيات خارج المخزن</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--success">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <!--
    <div class="col-sm-6 col-md-3 ">
    <div class="stat-card">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> {{MainStatics.totalOrderDiliverd}}</h2>
        <span class="text-success font-weight-bold mr-1"> <i class="fa fa-arrow-up"></i></span>
        <div>

          <span class="text-muted"> عدد الطلبيات تم توصيلها</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  -->
  
  <div class="col-sm-6 col-md-3">
    <div class="stat-card">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2>{{MainStatics.totalOrderCountInProcess}}</h2>
        <span class="text-success font-weight-bold mr-1"> <i class="fa fa-arrow-up"></i></span>
        <div>

          <span class="text-muted">عدد الطلبيات  قيد المعالجة</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--success">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> {{MainStatics.totalOrderCountInProcessAmount}}</h2>
        <span class="text-success font-weight-bold mr-1"> <i class="fa fa-arrow-up"></i></span>
        <div>

          <span class="text-muted"> اجمالي مبالغ الطلبيات في الشركة </span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
 
</div>
<div class="row">
  <div class="col-md-3 col-sm-4">

    <div class="wrimagecard wrimagecard-topimage text-muted"(click)="client()" style="text-align: center;">
      <a >
        <div class="wrimagecard-topimage_header" style="background-color:rgba(99, 172, 221, 0.1);text-align: center; ">
          <i class="fa fa-users" style="color:#0e82b8;"></i>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4 >عدد العملاء
            <div class="pull-right badge">{{MainStatics.totalClient}}</div>
          </h4>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage text-muted"(click)="user()" style="text-align: center;">
      <a >
        <div class="wrimagecard-topimage_header" style="background-color:rgba(99, 172, 221, 0.1);text-align: center; ">
          <i class="fa fa-users" style="color:#0e82b8;"></i>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4 >عدد المندوبين
            <div class="pull-right badge">{{MainStatics.totalAgent}}</div>
          </h4>
        </div>
      </a>
    </div>
   
  </div>
  <div class="col-md-3 col-sm-4">

    <div class="wrimagecard wrimagecard-topimage text-muted" (click)="user()"style="text-align: center;">
      <a >
        <div class="wrimagecard-topimage_header" style="background-color:rgba(99, 172, 221, 0.1);text-align: center; ">
          <i class="fa fa-users" style="color:#0e82b8;"></i>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4 >الموظفين
          </h4>
        </div>
      </a>
    </div>
  </div>
</div>
<h2 style="text-align: center;">الطلبات</h2>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="stat-card text-muted"(click)="neworders()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2></h2><span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted"> الطلبات الجديدة </span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--danger">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="stat-card text-muted"(click)="order()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2><span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted">عرض الطلبات</span>


        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--primary">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="stat-card text-muted"(click)="ReceiptShipmentAgentComponent()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2></h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted">استلام حالة الشحنة</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--success">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card text-muted"(click)="addorder()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted">  إضافة طلب</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card text-muted"(click)="addMulitpleOrders()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted">إضافة طلبات متعددة </span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card text-muted"(click)="addMulitpleOrdersfromClient()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted"> إضافة طلبات متعددة للعميل</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
 
</div>
<h2 style="text-align: center;">التقارير</h2>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="stat-card text-muted"(click)="ShipmentInStock()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2></h2><span class="text-success font-weight-bold mr-1"> </span>
        <div>

         <a>
          <span class="text-muted"> كشف شحنات في المخزن </span>
         </a>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--danger">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="stat-card text-muted"(click)="Shipmentonway()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2><span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted">كشف شحنات في الطريق </span>


        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--primary">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="stat-card text-muted"(click)="printsetprintnumberagentpreview()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2></h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted">كشف شحنات للمندوب  حسب رقم الطباعة </span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--success">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="stat-card text-muted"(click)="agentprint()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2></h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted">عمليات الطباعة لدى المندوبين</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--success">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card text-muted"(click)="Shipmentsnotbeendelivered()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted"> تسديد العميل</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="stat-card text-muted"(click)="orderincompany()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2></h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted">الطلبات التي في الشركة </span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--success">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card text-muted"(click)="printsetprintnumberclientpreview()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted"> كشف شحنات العميل حسب رقم الطباعة </span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="stat-card text-muted"(click)="clientprint()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2></h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted">عمليات الطباعة لدى العملاء </span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--success">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card text-muted"(click)="ProfitsOfOrders()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted"> ارباح الطلبيات</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card text-muted"(click)="Statistics()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted"> الاحصائيات</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card text-muted"(click)="AgentStatistics()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted"> تفاصيل المندوبين</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card text-muted"(click)="OrderVicdanAgent()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted"> طلبات في ذمة المندوب </span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card text-muted" (click)="pay()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted"> المقاصة </span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 style="text-align: center;">صادرات وواردات</h2>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="stat-card text-muted"(click)="outcome()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2></h2><span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted"> صادرات </span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--danger">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card text-muted"(click)="income()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted">واردات</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>

 
</div>
<h2 style="text-align: center;">الإعدادات</h2>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="stat-card text-muted"(click)="cities()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2></h2><span class="text-success font-weight-bold mr-1"> </span>
        <div>

         <a>
          <span class="text-muted"> المدن </span>
         </a>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--danger">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="stat-card text-muted"(click)="region()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2><span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted">المناطق</span>


        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--primary">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="stat-card text-muted"(click)="outcomeType()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2></h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted">أنواع الصادرات</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--success">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card text-muted"(click)="incometype()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted">أنواع الواردات</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card text-muted"(click)="ordertype()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted"> أنواع الشحنات</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 ">
    <div class="stat-card text-muted"(click)="group()">
      <div class="stat-card__content">
        <p class="text-uppercase mb-1 text-muted"></p>
        <h2> </h2>
        <span class="text-success font-weight-bold mr-1"> </span>
        <div>

          <span class="text-muted">المجموعات</span>
        </div>
      </div>
      <div class="stat-card__icon stat-card__icon--warning">
        <div class="stat-card__icon-circle">
          <i class="fa fa-suitcase"></i>
        </div>
      </div>
    </div>
  </div>

</div>