<div class="col-md-12 mb-4">
    <div class="card">
        <div class="card-body">
         <div class="d-flex justify-content-between">
          <h5 class="card-title">{{'menu.setting.importTypes' | translate}}</h5>
         </div>
      <ejs-grid  #normalgrid   id='normalgrid' [enableRtl]='true' (load)='load()'  [allowPaging]='true'
     [gridLines]="lines" [pageSettings]='pageSettings' [toolbar]='toolbar'
       [editSettings]='editSettings'[dataSource]='importTypes' rowHeight='38'
         [allowSorting]='true' height='400' (actionComplete)="actionComplete($event)"
          [enableHover]='true' [selectionSettings]='selectionSettings'
           [filterSettings]='filterSettings' [allowSorting]='true'
            [allowFiltering]='true'>
      <e-columns>
          <e-column   field='id' textAlign="Center" [visible]='false' headerText='#' [filter]='filter' width='50' [isPrimaryKey]='true'></e-column>
          <e-column   field='name' textAlign="Center" headerText="name" width='140'></e-column>

      </e-columns>
  </ejs-grid>
        </div>
    </div>
  </div>
  <simple-notifications></simple-notifications>
