
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Vien-Angular-primary: mat-palette($mat-indigo);
$Vien-Angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Vien-Angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Vien-Angular-theme: mat-light-theme((
  color: (
    primary: $Vien-Angular-primary,
    accent: $Vien-Angular-accent,
    warn: $Vien-Angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Vien-Angular-theme);

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';
@import '../node_modules//@syncfusion/ej2-angular-grids/styles/material.css';
@import '~dhtmlx-scheduler/codebase/dhtmlxscheduler.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-sort-header {
  color: black;
  text-align: center;
  padding-right: 10px;
  font-size: 14px;
}
.mat-cell{
  text-align: center;
}
.example-container {
  height:450px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  background-color: white;
}

table {
  width: 100%;
}

td.mat-cell {
  width: 30px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}
.mat-header-cell{
  padding: 10px;
}
.mat-cell {
  width: 30px;
  padding-right: 8px;
}
table {
  width: 100%;
}
.mat-cell{
  padding: 20px;
}
.mat-header-cell{
  text-align: right;
 padding-right: 20px;
}
h3{
  font-size: 18px;
  color: alpha($color: #193a79);
}
ng-select{
  overflow: visible;
}
@font-face {
  font-family: 'a-jannat-lt';
  src: local("a-jannat-lt"), url(/src/assets/fonts/a-jannat-lt.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
