<div style="width: 100%;background-color: white;">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h3 class="card-title">اضافة طلبات متعددة للعميل</h3>
        </div>

        <div>
            <button type="submit" class="btn btn-primary" (click)="AddOrder()"> حفظ</button>

        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <label>العميل</label>
            <ng-select appendTo="body" [(ngModel)]="ClientId" (ngModelChange)="changeClientId()" style="width: 150px;"
                [ngModelOptions]="{standalone: true}" [clearable]="false" name="Client">
                <ng-option *ngFor="let Client of clients" [value]="Client.id">{{Client.name}}
                </ng-option>
            </ng-select>
            <div *ngIf="!ClientId && submitedSave" class="message">العميل حقل مطلوب</div>




        </div>
    </div>

    <br>
    <div class="example-container">
        <table class="table">
            <thead>
                <th>كود الشحنة</th>
                <th>المحافظة</th>
                <th>اسم المندوب</th>
                <th>رقم الهاتف </th>
                <th>الكلفة الكلية</th>
                <th>كلفة التوصيل</th>
                <th>ملاحظات</th>
                <th></th>

            </thead>
            <tbody>
                <tr *ngFor="let order of Orders">


                    <td (click)="Edit(order)">
                        <h4 *ngIf="!order.CanEdit">{{order.Code}}</h4>
                        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="EditOrder.Code" (keyup)="CheckCodeForEdit()" style="width: 100px;"
                            oninput="this.value = this.value.replace(/[^0-9.A-Za-z]/g, '').replace(/(\..*)\./g, '$1');"
                            *ngIf="order.CanEdit" tabindex="1">
                        <div *ngIf="!EditOrder.Code && Editsubmitted&&order.CanEdit" class="message">كود الشحنة حقل
                            مطلوب</div>
                            <div *ngIf="showEditMessageCode" class="message">يوجد شحنة مسبقا لهذا العميل بنفس الكود</div>

                    </td>
                    <td (click)="Edit(order)">
                        <h4 *ngIf="!order.CanEdit">{{order.CountryName}}</h4>
                        <ng-select appendTo="body" [(ngModel)]="order.CountryId" [ngModelOptions]="{standalone: true}"
                            (change)="changeCountryEdit()" style="width: 100px;" *ngIf="order.CanEdit"
                            [clearable]="false" name="Country">
                            <ng-option *ngFor="let citie of cities" [value]="citie.id">{{citie.name}}</ng-option>
                        </ng-select>
                        <div *ngIf="!EditOrder.CountryId && Editsubmitted&&order.CanEdit" class="message">المحافظة حقل
                            مطلوب</div>

                    </td>
                    <td (click)="Edit(order)">
                        <h4 *ngIf="!order.CanEdit">{{order.AgentName}}</h4>
                        <ng-select appendTo="body" [(ngModel)]="order.AgentId" [ngModelOptions]="{standalone: true}"
                            style="width: 100px;" *ngIf="order.CanEdit" [clearable]="false" name="Agent"
                            placeholder="اختر مندوب">
                            <ng-option *ngFor="let Agent of Agents" [value]="Agent.id">{{Agent.name}}</ng-option>
                        </ng-select>
                        <div *ngIf="!EditOrder.AgentId && Editsubmitted&&order.CanEdit" class="message">المندوب حقل
                            مطلوب</div>

                    </td>
                    <!--
                              <td (click)="Edit(order)">
                            <h4 *ngIf="!order.CanEdit">{{order.CountryName}}</h4>
                            <ng-select [(ngModel)]="EditOrder.CountryId" style="width: 100px;"
                                (change)="changeCountry()" [ngModelOptions]="{standalone: true}"   [clearable]="false"
                                *ngIf="order.CanEdit" name="Country">
                                <ng-option *ngFor="let citie of cities" [value]="citie.id">{{citie.name}}</ng-option>
                            </ng-select>
                            <div *ngIf="!EditOrder.CountryId && Editsubmitted" class="message">المدينة حقل مطلوب</div>

                        </td>
                      <td>
                            <h4 *ngIf="!order.CanEdit">{{order.AgentName}}</h4>
                            <ng-select [(ngModel)]="EditOrder.AgentId" [ngModelOptions]="{standalone: true}"
                                *ngIf="order.CanEdit"   [clearable]="false" name="Agent" style="width: 100px;">
                                <ng-option *ngFor="let Agent of Agents" [value]="Agent.id">{{Agent.name}}</ng-option>
                            </ng-select>
                            <div *ngIf="!EditOrder.AgentId && Editsubmitted" class="message">المندوب حقل مطلوب</div>

                        </td>
                    -->



                    <td (click)="Edit(order)">
                        <h4 *ngIf="!order.CanEdit">{{order.RecipientPhones}}</h4>
                        <input type="text" maxlength="11"
                            oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');"
                            *ngIf="order.CanEdit" style="width: 100px;" class="form-control"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="EditOrder.RecipientPhones"
                            (keyup)="checkLengthPhoneNumberEdit(EditOrder.RecipientPhones)">
                        <div *ngIf="!EditOrder.RecipientPhones&& Editsubmitted&&order.CanEdit" class="message">رقم
                            الهاتف
                            حقل مطلوب</div>
                        <div class="message"
                            *ngIf="EditOrder.RecipientPhones&&checkLengthPhoneNumberEdit(EditOrder.RecipientPhones)&&order.CanEdit">
                            {{RecipientPhoneslengthEdit}}
                        </div>

                    </td>

                    <td (click)="Edit(order)">
                        <h4 *ngIf="!order.CanEdit">{{order.Cost}}</h4>
                        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                            style="width: 100px;" *ngIf="order.CanEdit"
                            oninput="this.value = this.value.replace(/[^0-9.]-/g, '').replace(/(\..*)\./g, '$1');"
                            [(ngModel)]="EditOrder.Cost" #Cost="ngModel">

                    </td>
                    <td (click)="Edit(order)">
                        <h4 *ngIf="!order.CanEdit">{{order.DeliveryCost}}</h4>
                        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                            *ngIf="order.CanEdit"  style="width: 100px;"
                            [(ngModel)]="EditOrder.DeliveryCost">

                    </td>
                   
                    <td (click)="Edit(order)">
                        <h4 *ngIf="!order.CanEdit">{{order.Note}}</h4>
                        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="EditOrder.Note" style="width: 100px;" *ngIf="order.CanEdit">


                    </td>

                    <td>
                        <!--edit icone-->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            *ngIf="!order.CanEdit" style="cursor: pointer;" class="bi bi-pencil" viewBox="0 0 16 16"
                            (click)="Edit(order)">
                            <path
                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                        &nbsp;&nbsp;

                        <!--chech icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            (click)="Save(order)" *ngIf="order.CanEdit" style="cursor: pointer;" class="bi bi-check2"
                            viewBox="0 0 16 16">
                            <path
                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                        </svg>

                        <!--delete icone-->
                        <svg (click)="delete(order)" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            *ngIf="!order.CanEdit" style="cursor: pointer;" fill="currentColor" class="bi bi-trash"
                            viewBox="0 0 16 16" style="cursor: pointer;">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                        &nbsp;&nbsp;
                        <!--cansle icone-->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            (click)="CansleEdit(order)" *ngIf="order.CanEdit" style="cursor: pointer;" class="bi bi-x"
                            viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </td>



                </tr>
                <tr #myTr>

                    <td>
                        <input (keydown.enter)="changed(0)" type="text" class="form-control" [ngModelOptions]="{standalone: true}" #code
                            [(ngModel)]="Order.Code" (keyup)="CheckCode()" 
                            oninput="this.value = this.value.replace(/[^0-9.A-Za-z]/g, '').replace(/(\..*)\./g, '$1');"
                            style="width: 100px;" [disabled]="!ClientId">
                        <div *ngIf="!Order.Code && submitted" class="message">كود الشحنة حقل مطلوب</div>
                        <div *ngIf="showMessageCode" class="message">يوجد شحنة مسبقا لهذا العميل بنفس الكود</div>

                    </td>
                    <td>
                        
                        <ng-select (keydown.enter)="changed(1)" appendTo="body"[disabled]="!ClientId" [(ngModel)]="Order.CountryId" [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="changeCountry()" style="width: 100px;" 
                            [clearable]="false" name="Country">
                            <ng-option *ngFor="let citie of cities" [value]="citie.id">{{citie.name}}</ng-option>
                        </ng-select>
                        <div *ngIf="!Order.CountryId && submitted" class="message">المحافظة حقل مطلوب</div>

                    </td>
                    <td>
                        <ng-select (keydown.enter)="changed(2)" [disabled]="!ClientId" appendTo="body" [(ngModel)]="Order.AgentId"
                            [ngModelOptions]="{standalone: true}" placeholder="اختر مندوب" style="width: 100px;"
                            [clearable]="false" name="Agent" >
                            <ng-option *ngFor="let Agent of Agents" [value]="Agent.id">{{Agent.name}}</ng-option>
                        </ng-select>
                        <div *ngIf="!Order.AgentId && submitted" class="message">المندوب حقل مطلوب</div>

                    </td>


                    <td>
                        <input (keydown.enter)="changed(3)" [disabled]="!ClientId" type="text" maxlength="11"
                            oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');"
                            style="width: 100px;" class="form-control" [ngModelOptions]="{standalone: true}"
                             [(ngModel)]="Order.RecipientPhones"
                            (keyup)="checkLengthPhoneNumber(Order.RecipientPhones)">
                        <div *ngIf="!Order.RecipientPhones&& submitted" class="message">رقم الهاتف
                            حقل مطلوب</div>
                        <div class="message"
                            *ngIf="Order.RecipientPhones&& checkLengthPhoneNumber(Order.RecipientPhones)">
                            {{RecipientPhoneslength}}
                        </div>
                    </td>


                    <td>
                        <input (keydown.enter)="changed(4)" [disabled]="!ClientId" type="text" class="form-control"
                            [ngModelOptions]="{standalone: true}"
                            oninput="this.value = this.value.replace(/[^0-9.]-/g, '').replace(/(\..*)\./g, '$1');"
                             style="width: 100px;" [(ngModel)]="Order.Cost">

                    </td>
                    <td>
                        <input (keydown.enter)="changed(5)" [disabled]="!ClientId" type="text" class="form-control"
                            [ngModelOptions]="{standalone: true}"  style="width: 100px;"
                            [(ngModel)]="Order.DeliveryCost">
                    </td>
                   
                    <td>
                        <input (keydown.enter)="changed(6)" type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="Order.Note"  style="width: 100px;">

                    </td>
                    <td>
                        <button type="button" class="btn" (click)="onEnter()"><i class="iconsminds-add  text-primary"
                                style="font-size: 22px;"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<button type="button" id="openModalButton" [hidden]="true" class="btn btn-primary" data-toggle="modal"
    data-target="#exampleModal">  </button>

<div class="modal fade bd-example-modal-lg"data-backdrop="static" data-keyboard="false"
 tabindex="-1" role="dialog" id="exampleModal"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3>الطلبات التي تحوي على اكواد مكررة</h3>
                <table class="table">
                    <thead>
                        <th>كود الشحنة</th>
                        <th>رقم الهاتف </th>
                        <th>الكلفة الكلية</th>
                        <th>كلفة التوصيل</th>
                        <th>ملاحظات</th>
                        <th></th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let order of tempOrder">
                            <td>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="order.Code" (keyup)="CheckCodeForChange(order.Code)" style="width: 100px;"
                                    oninput="this.value = this.value.replace(/[^0-9.A-Za-z]/g, '').replace(/(\..*)\./g, '$1');"
                                    >
                                    <div *ngIf="showMessageCodeChange" class="message">يوجد شحنة مسبقا لهذا العميل بنفس الكود</div>

                            </td>
                            <td>
                                <h4>{{order.RecipientPhones}}</h4>


                            </td>
                            <td>
                                <h4>{{order.Cost}}</h4>

                            </td>
                            <td>
                                <h4>{{order.DeliveryCost}}</h4>

                            </td>
                            <td>
                                <h4>{{order.Note}}</h4>

                            </td>
                            <td>

                                &nbsp;&nbsp;

                                <!--chech icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    (click)="changeCodeAfterChecked(order)"  style="cursor: pointer;"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg>


                                &nbsp;&nbsp;
                                <!--cansle icone-->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    (click)="deleteCodeAfterChecked(order)"  style="cursor: pointer;"
                                    class="bi bi-x" viewBox="0 0 16 16">
                                    <path
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </td>



                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button id="closeModalButton" [hidden]="true" type="button" class="btn btn-primary" data-dismiss="modal">اغلاق</button>

            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff"
 type = "ball-pulse" [fullScreen] = "true">
    <p style="color: white" > </p>
</ngx-spinner>
<simple-notifications></simple-notifications>