h4{
    color: rgb(116, 3, 3);
}
@media print {
    @import url(/assets/css/vendor/bootstrap.min.css);
    :host {
        display: none;
      }
    body * {
      visibility:hidden;
    }
    div * {
        visibility:visible;
      }
    #print * {
      visibility:visible;
    }
    #printable {
      position:absolute;
      left:0;
      top:0;
    }
  }
  .col-md-12{
    font-size: 16px;
  }
  svg{
    padding: 2px;
  }
  h3{
    font-size: 19px;
  }