<div class="card">
  <div class="card-body">
    <h3>المعاينة قبل الطباعة</h3>

    <button printSectionId="print" class="btn" styleSheetFile="/assets/css/vendor/bootstrap.min.css"
      [useExistingCss]="true" ngxPrint>
      <h4> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer"
          viewBox="0 0 16 16">
          <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
          <path
            d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
        </svg>طباعة </h4>
    </button>

    <button (click)="afterPrint()" [disabled]="disabledbtn" class="btn btn-primary"> نقل الى خارج الشركة</button>
  </div>
</div>


<div id="print">
  <div class="card" style="width:20cm;height: 18cm;margin: 50px;" *ngFor="let item of orders">
    <div class="card-body">
      <app-header></app-header>
      <div style="text-align: center;">
        {{item.code}}
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4>معلومات العميل</h4>
          <div class="row card" style="border-style: solid; padding: 2px;border-width: 1px;margin: 1px;">
            <div class="col-md-12">الاسم التجاري : {{item.client.name}} </div>

            <div style="border-style: solid; padding: 2px;border-width: 1px;margin: 1px;"></div>
            <div class="col-md-12">هاتف : {{item.client.phones}} </div>
            <div style="border-style: solid; padding: 2px;border-width: 1px;margin: 1px;"></div>

            <div class="col-md-12"> عنوان : {{item.client.address}} </div>
            <div style="border-style: solid; padding: 2px;border-width: 1px;margin: 1px;"></div>

            <div class="col-md-12"> المبلغ مع التوصيل : {{item.deliveryCost}} </div>
            <div style="border-style: solid; padding: 2px;border-width: 1px;margin: 1px;"></div>

            <div class="col-md-12">
              معلومات وملاحظات المندوب :

              <div style="height: 25px;border-style: solid; padding: 2px;border-width: 1px;margin: 1px;" class="card">
                {{item.note}}

              </div>


            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4>معلومات المستلم</h4>
          <div class="row card" style="border-style: solid; padding: 2px;border-width: 1px;margin: 1px;">
            <div class="col-md-12">الاسم : {{item.recipientName}} </div>


            <div style="border-style: solid; padding: 2px;border-width: 1px;margin: 1px;"></div>


            <div class="col-md-12"> عنوان : {{item.client.address}}</div>
            <div style="border-style: solid; padding: 2px;border-width: 1px;margin: 1px;"></div>

            <div class="col-md-12">هاتف : {{item.recipientPhones}}</div>
            <div style="border-style: solid; padding: 2px;border-width: 1px;margin: 1px;"></div>

            <div class="col-md-12">القضاء : {{item.address}}</div>
            <div style="border-style: solid; padding: 2px;border-width: 1px;margin: 1px;"></div>
            <div class="row">
              <div class="col-md-6">
                نوع القبض : <h5 *ngFor="let orderitem of item.orderItems">{{orderitem?orderitem.orderTpye.name:null}}</h5>
              </div>
  
              <div class="col-md-6">
                العدد : <h5 *ngFor="let orderitem of item.orderItems">{{orderitem?orderitem.count:null}}</h5>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer" style="background-color: white;">
      <app-footer></app-footer>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>