<div class="row card">
  <div class="col-12">
    <div class="card-body">
      <table class="table">
        <thead>
          <th *ngFor="let head of heads">{{ head }}</th>
        </thead>
        <tbody>
          <tr *ngFor="let print of ordersPrint">
            <td>
              <a
                class="btn"
                style="color: rgb(2, 52, 128)"
                (click)="printReceipt(print.printNmber)"
                *ngIf="type != 'receiptPrint'"
              >
                {{ print.printNmber }}
              </a>
              <a
                class="btn"
                style="color: rgb(2, 52, 128)"
                (click)="printReceipt(print.receiptOfTheOrderStatusId)"
                *ngIf="type == 'receiptPrint'"
              >
                {{ print.receiptOfTheOrderStatusId }}
              </a>
            </td>
            <td>
              {{
                type == "receiptPrint"
                  ? (convertToDate(print.createdOn) | date: "yyyy/MM/dd")
                  : print.destinationName
              }}
            </td>
            <td>
              {{ type == "receiptPrint" ? print.reciver : print.printerName }}
            </td>
            <td>
              {{
                type == "receiptPrint"
                  ? print.orderPlaced
                    ? print.orderPlaced.name
                    : null
                  : (print.date | date: "yyyy/MM/dd")
              }}
            </td>
            <td>
              {{
                type == "receiptPrint"
                  ? print.moneyPlaced
                    ? print.moneyPlaced.name
                    : null
                  : print.destinationPhone
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
