<div class="col-md-12 mb-4">
  <div class="card">
    <div class="card-body">

      <div class=" d-flex justify-content-between">
        <h3 class="card-title">{{'menu.outcome' | translate}}</h3>
        <button class="btn  mb-3" (click)="addUserModal.show();addNewClicked()"><i class="iconsminds-add  text-primary"
            style="font-size: 38px;"></i></button>
      </div>
      <div class=" d-flex justify-content-between">
        <button (click)="AddMoreOutcome()" class="btn btn-primary"> اضافة متعددة</button>

      </div>
        
      <br><br>
      <h5 class="card-title">بحث على حسب : </h5>
      <div class="row">
        <div class="col-md-2">
          <label>نوع الصادرات</label>
          <ng-select [(ngModel)]="filtering.Type" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
          (ngModelChange)="allFilter()">
            <ng-option *ngFor="let exportType of exportTypes" [value]="exportType.id">{{exportType.name}}
            </ng-option>
          </ng-select>
        </div>
        <div class="col-md-2">
          <label>العملة</label>
          <ng-select [(ngModel)]="filtering.CurrencyId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
          (ngModelChange)="allFilter()">
            <ng-option *ngFor="let coin of coins" [value]="coin.id">{{coin.name}}</ng-option>
          </ng-select>

        </div>
        <div class="col-md-2">
          <label> المبلغ الأدنى</label>
          <input type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtering.MinAmount"
            (ngModelChange)="allFilter()">

        </div>
        <div class="col-md-2">
          <label>المبلغ الأعلى</label>
          <input type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtering.MaxAmount"
            (ngModelChange)="allFilter()">

        </div>
        <div class="col-md-2">
          <label>الموظف</label>
          <ng-select [(ngModel)]="filtering.UserId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true"
          (ngModelChange)="allFilter()">
            <ng-option *ngFor="let user of UserService.users" [value]="user.id">{{user.name}}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label>من تاريخ</label>
          <input type="text" readonly class="form-control" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="filtering.FromDate" bsDatepicker [container]="'html'"
            [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }"
            (ngModelChange)="allFilter()">

        </div>
        <div class="col-md-2">
          <label>الى تاريخ</label>
          <input type="text" readonly class="form-control" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="filtering.ToDate" bsDatepicker [container]="'html'"
            [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }"
            (ngModelChange)="allFilter()">

        </div>
      </div>
      <br>
      <!--

            <ejs-grid #normalgrid id='normalgrid' (load)='load()' [allowPaging]='true' [gridLines]="lines"
        [pageSettings]='pageSettings' [toolbar]='toolbar' [editSettings]='editSettings' [dataSource]='outcomes'
        rowHeight='38' [allowSorting]='true' height='400' [enableHover]='true' [selectionSettings]='selectionSettings'
         [allowSorting]='true'
         (actionComplete)="actionComplete($event)"(actionBegin)="onActionBegin($event)" 
         >
        <e-columns>
          <e-column field='id' textAlign="Center" [visible]='false' headerText='#' [filter]='filter' width='50'
            [isPrimaryKey]='true'></e-column>
            <e-column field='outComeType.name' [allowEditing]='true' textAlign="Center" headerText="نوع الصرف" width='140'>
            </e-column>
          <e-column field='amount' [allowEditing]='true' textAlign="Center" headerText="المبلغ المصروف" width='170'>
          </e-column>
          <e-column field='date' [allowEditing]='false' textAlign="Center" headerText="التاريخ " width='140'
          ></e-column>
          <e-column field='reason' [allowEditing]='false' textAlign="Center" headerText=السبب width='140'></e-column>
          <e-column field='note' [allowEditing]='false' textAlign="Center" headerText="ملاحظات" width='140'></e-column>
          <e-column field='createdBy' [allowEditing]='false' textAlign="Center" headerText="المستخدم" width='140'></e-column>

        </e-columns>
      </ejs-grid>
      -->
  

    </div>
  </div>
</div>
<div bsModal #addUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-md modal-right " style="max-width: 90%;">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 *ngIf="addClicked" id="dialog-sizes-name1" class="modal-title pull-left">اضافة صادرة</h4>
        <h4 *ngIf="editClicked" id="dialog-sizes-name1" class="modal-title pull-left">تعديل صادرة</h4>

        <button type="button" class="close pull-right" (click)="addUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size: 15px;">
        <app-add-out-come (addFinish)="addFinish($event);addUserModal.hide()" [addClicked]="addClicked"></app-add-out-come>
      </div>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>

<!--ggggggggggggggggggggggggggggggg
<mat-form-field>
  <mat-lable>بحث</mat-lable>
  <input matInput (keyup)="applyFilter($event)" placeholder="" class="form-control" aria-label="Search">
</mat-form-field>-->
<div class="example-container mat-elevation-z8" >
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;"
  (onPageSwitch)="switchPage($event)">
  <ng-container matColumnDef="outComeType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-right: 10px;"> نوع الصرف</th>
      <td mat-cell *matCellDef="let element"style="padding-right: 10px;"> {{element.outComeType.name}}</td>
  </ng-container>
  <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> المبلغ المصروف</th>
      <td mat-cell *matCellDef="let element"> {{element.currency.name}}</td>
  </ng-container>
  <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> التاريخ</th>
      <td mat-cell *matCellDef="let element"> {{element.date}}</td>
  </ng-container>
  <ng-container matColumnDef="reason">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> السبب</th>
      <td mat-cell *matCellDef="let element"> {{element.reason}}</td>
  </ng-container>
 
  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ملاحظات</th>
    <td mat-cell *matCellDef="let element"> {{element.note}}</td>
</ng-container>
<ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> المستخدم</th>
    <td mat-cell *matCellDef="let element"> {{element.amount}}</td>
</ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


  <h5 style="padding-top: 20px; padding-right: 10px;" *ngIf="noDataFound">No records to display</h5>
  
  </div>
<mat-paginator showFirstLastButtons [length]="totalCount" [pageSize]="paging.RowCount"
  [pageSizeOptions]="paging.selectItemsPerPage" (page)="switchPage($event)"></mat-paginator>

  <!--ggggggggggggggggggggggggggggggg-->