<div class="col-md-12 mb-4">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">{{'menu.outcome' | translate}}</h5>
        <button class="btn  mb-3" (click)="addUserModal.show();addNewClicked()"><i class="iconsminds-add  text-primary"
          style="font-size: 38px;"></i></button>
</div>

  <ejs-grid #normalgrid   id='normalgrid'  (load)='load()'  [allowPaging]='true'
  [gridLines]="lines" [pageSettings]='pageSettings' [toolbar]='toolbar'
    [editSettings]='editSettings'[dataSource]='outcomes' rowHeight='38'
      [allowSorting]='true' height='400'
       [enableHover]='true' [selectionSettings]='selectionSettings'
        [filterSettings]='filterSettings' [allowSorting]='true'
         [allowFiltering]='true'>
   <e-columns>
       <e-column   field='id' textAlign="Center" [visible]='false' headerText='#' [filter]='filter' width='50' [isPrimaryKey]='true'></e-column>
       <e-column   field='amount' [allowEditing]='true' textAlign="Center" headerText="المبلغ المصروف" width='140'></e-column>
       <e-column   field='date' [allowEditing]='false' textAlign="Center" headerText="التاريخ " width='140'></e-column>
       <e-column   field='reason' [allowEditing]='false' textAlign="Center" headerText=السبب width='140'></e-column>
       <e-column   field='note' [allowEditing]='false' textAlign="Center" headerText="ملاحظات" width='140'></e-column>

   </e-columns>
</ejs-grid>

</div>
</div>
</div>
<div bsModal #addUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-md modal-right " style="max-width: 90%;">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 *ngIf="addClicked" id="dialog-sizes-name1" class="modal-title pull-left">اضافة صادرة</h4>
        <h4 *ngIf="editClicked" id="dialog-sizes-name1" class="modal-title pull-left">تعديل صادرة</h4>

        <button type="button" class="close pull-right" (click)="addUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size: 15px;">
        <app-add-out-come (addFinish)="addFinish();addUserModal.hide()" [addClicked]="addClicked"
         ></app-add-out-come>
      </div>
    </div>
  </div>
</div>
