
<div class="row">
    <!-- <div class="col-sm-6 col-md-3">
      <a  (click)="AgentOrders()">
        <div class="stat-card">
          <div class="stat-card__content">
            <p class="text-uppercase mb-1 text-muted"></p>
            <h3> {{totlaOrder}}</h3><span class="text-success font-weight-bold mr-1"> <i
                class="fa fa-arrow-up"></i></span>
            <div>
    
              <span class="text-muted">الطلبيات التي لدي</span>
            </div>
          </div>
          <div class="stat-card__icon stat-card__icon--danger">
            <div class="stat-card__icon-circle">
              <i class="fa fa-suitcase"></i>
            </div>
          </div>
        </div>
      </a>
    </div> -->
   
    <div class="col-sm-6 col-md-3">
      <a  (click)="inStor()">
        <div class="stat-card">
          <div class="stat-card__content">
            <p class="text-uppercase mb-1 text-muted"></p>
            <h3> {{totalOrderInSotre}}</h3><span class="text-success font-weight-bold mr-1"> <i
                class="fa fa-arrow-up"></i></span>
            <div>
    
              <span class="text-muted">الطلبيات التي في المخزن</span>
            </div>
          </div>
          <div class="stat-card__icon stat-card__icon--warning">
            <div class="stat-card__icon-circle">
              <i class="fa fa-suitcase"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a  (click)="onWay()">
        <div class="stat-card">
          <div class="stat-card__content">
            <p class="text-uppercase mb-1 text-muted"></p>
            <h3> {{totalOrderInWay}}</h3><span class="text-success font-weight-bold mr-1"> <i
                class="fa fa-arrow-up"></i></span>
            <div>
    
              <span class="text-muted">الطلبيات التي في الطريق</span>
            </div>
          </div>
          <div class="stat-card__icon stat-card__icon--info">
            <div class="stat-card__icon-circle">
              <i class="fa fa-suitcase"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a  (click)="suspended()">
        <div class="stat-card">
          <div class="stat-card__content">
            <p class="text-uppercase mb-1 text-muted"></p>
            <h3> {{totalOrderSuspended}}</h3><span class="text-success font-weight-bold mr-1"> <i
                class="fa fa-arrow-up"></i></span>
            <div>
    
              <span class="text-muted">الطلبيات  المعلقة</span>
            </div>
          </div>
          <div class="stat-card__icon stat-card__icon--danger">
            <div class="stat-card__icon-circle">
              <i class="fa fa-suitcase"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a  (click)="OwedOrder()">
        <div class="stat-card">
          <div class="stat-card__content">
            <p class="text-uppercase mb-1 text-muted"></p>
            <h3> {{totlaOwedOrder}}</h3><span class="text-success font-weight-bold mr-1"> <i
                class="fa fa-arrow-up"></i></span>
            <div>
    
              <span class="text-muted">الطلبيات التي في الذمة</span>
            </div>
          </div>
          <div class="stat-card__icon stat-card__icon--success">
            <div class="stat-card__icon-circle">
              <i class="fa fa-suitcase"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a  (click)="report()">
        <div class="stat-card">
          <div class="stat-card__content">
            <p class="text-uppercase mb-1 text-muted"></p>
            <h3> {{totlaPrintOrder}}</h3><span class="text-success font-weight-bold mr-1"> <i
                class="fa fa-arrow-up"></i></span>
            <div>
    
              <span class="text-muted">  الكشوفات</span>
            </div>
          </div>
          <div class="stat-card__icon stat-card__icon--primary">
            <div class="stat-card__icon-circle">
              <i class="fa fa-suitcase"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
</div>  