<header>
    <div class="header-bg">
        <div class="header-container">
            <div class="header-right">
                <img src="logo.png" alt="Logo">
            </div>
            <nav class="header-center">
                <ul>
                    <li><a href="#">أسعارنا</a></li>
                    <li><a href="#">طلبات خارجية</a></li>
                    <li><a href="#">عملاؤنا</a></li>
                    <li><a href="#">تتبع شحنتك</a></li>
                    <li><a href="#"> انضم لنا</a></li>
                </ul>
            </nav>
            <div class="header-left">
                <button>تسجيل دخول كعميل</button>
            </div>
        </div>
        <div class="header-text">
            <h1>Welcome to my website</h1>
            <p>Learn more about our services</p>
            <a href="#" class="btn">Get Started</a>
        </div>
    </div>
</header>